[2012-10-23 13:37] mcintyre321 opened #1 "Typo in Nuget package name"
Neat looking project - warning though - your Nuget package is called 'Decompiller' (double L)

:)

[2012-10-23 14:07] #1 closed, assigned to nobody

[2013-03-11 20:32] JasonRodman opened #4 "Coercion error when trying to decompile a bool property"
As an example, if I try to decompile this property:

[Computed]
public bool HasExpirationDate { get { return true; } }

I get the following error:

No coercion operator is defined between types 'System.Int32' and 'System.Boolean'.

And here is the stack trace:

[InvalidOperationException: No coercion operator is defined between types 'System.Int32' and 'System.Boolean'.]
   System.Linq.Expressions

[2013-03-12 00:30] #4 closed, assigned to nobody

[2013-04-12 06:43] janandojan opened #6 "decompile error"
[code]

when i call DelegateDecompiler.DecompileExtensions.Decompile, i get this error only with this method....

{System.ArgumentException: Expression of type 'System.Void' cannot be used for parameter of type 'System.Exception' of method 'Void SetProjectError(System.Exception)'
   at System.Linq.Expressions.Expression.ValidateOneArgument(MethodBase method, ExpressionType nodeKind, Expression arg

[2013-07-02 07:20] danieldemus opened #8 "The processor doesn't handle ILCode.Ldflda"
In Processor.cs around line 132 you have:

[code]

There is another opcode - ldflda - that does something similar, but isnøt handled anywhere. One could modify the above to:

[code]

to handle ldflda, in my quick and dirty testing it seems to have the correct effect.

It would probably also be a good idea to add an else at the end to at least warn about unhandled opcodes.

[2013-07-14 11:40] #8 closed, assigned to nobody

[2014-05-07 17:58] jbogard opened #11 "Autodetecting computed properties"
Any thoughts about detecting computed properties rather than the attribute?

[2014-05-08 02:40] #11 closed, assigned to nobody

[2014-05-27 12:20] cervengoc opened #12 "A simple "and" decompiles to complex "IIF" expression"
Hello, I have an entity class with the following method:

[code]

I would expect it to decompile into a simple binary expression, however, it decompiles into an IIF expression, something like this:

[code]

I understand that semantically it's of course equivalent, but a where clause with this decompiled expression makes my ORM's query engine fail. Is it possible somehow to force a simple binary ex

[2014-05-28 10:09] #12 closed, assigned to nobody

[2014-06-03 20:46] cervengoc opened #13 "Decompilation throws exception on a more complex method"
Hello, I'm trying to use DelegateDecompiler in more complex scenarios. I'm trying to decompile a method which itself contains lambda expressions and so.

One of my required methods throw an exception on decompile.

In the near past I've succesfully used your library in similar methods (I mean taking one variable parameter and returning a boolean based on some calculation), but surely this kind is

[2014-06-27 10:21] cervengoc opened #14 "Conditional expression decompiles to IfThenElse instead of Iif"
Hello again, probably your fix for my previous issue has introduces a new misbehaviour. I have a property with a simple conditional expression like "a == 1 ? b : c". After decompilation it turns to an If-Else expression instead of a simple Conditional expression type. This again breaks the underlying Linq provider.

Thanks in advance for checking it.

Zoltán

[2014-09-18 13:21] VenolVl opened #15 "Unit Tests that test methods with Decompile fail while trying to calculate code coverage"
Hello, i have encountered an issue with DelegateDecompiler:
When i try to test methods that use Decompile(), those tests are passing when i just run them, but when i try to calculate code coverage i receive following error in every test that use Decompile():

System.AggregateException: One or more errors occurred. ---> System.InvalidCastException: Specified cast is not valid.
   at DelegateDecompi

[2014-10-09 06:57] Giorgi opened #17 "Deploy latest version to NuGet"
Hello,

Can you please deploy the latest version to Nuget?

Thanks.

[2014-10-15 20:04] #6 closed, assigned to nobody

[2014-10-15 22:23] #17 closed, assigned to nobody

[2014-10-16 09:19] Giorgi opened #18 "GetGenericMethodDefinition throws InvalidOperationException when method isn't generic"
node.Method.GetGenericMethodDefinition() throws System.InvalidOperationException: Operation is not valid due to the current state of the object.

[2014-10-16 10:20] #18 closed, assigned to nobody

[2014-10-28 18:35] JonPSmith opened #21 "Offer of help on documentation/example code"
Hi @hazzik,

I have been trying your DelegateDecompiler and it is really nice.  I plan to use it to my [GenericServices](https://github.com/JonPSmith/GenericServices) project as it makes the developer experience better.

I have written some unit tests and I'm trying to understand what you support/don't support. I would be happy to write some wiki pages/example code if that helps, but obviously I w

[2014-11-04 12:33] JonPSmith opened #22 "Problem with Any() test"
I'm doing some tests to understand what DelegateDecompiler supports so I can write some documentation. I ran across a problem which I need to understand why it didn't work.

My computed property was
`[Computed] public bool AnyTest { get { return Name.Any( x => x == 'B'); }}`

and the test was:
`var list = db.ProductCategories.Select(c => c.AnyTest).Decompile().ToList();`

I got the error
System.In

[2014-11-08 19:25] #22 closed, assigned to nobody

[2014-11-12 17:58] JonPSmith opened #24 "Does not support Async operations with EF 6.1.1"
I use async EF commands and I have found that DelegateDecompiler fails if an Async end command is used, i.e. .ToListAsync(). I _think_ this a new thing in EF version 6.1.1.

The error message is:

System.InvalidOperationException : The source IQueryable doesn't implement IDbAsyncEnumerable<System.Boolean>. Only sources that implement IDbAsyncEnumerable can be used for Entity Framework asynchronous

[2014-11-30 16:32] pedroreys opened #25 "NotSupportedException thrown when running a EF query with Decompile()"
Hi,

I have a EF entity that looks like this:

[code]

And when I try to make this query using `Decompile()`:

[code]

It throws an `NotSupportedException` saying  "Unknown LINQ expression of type 'Increment'."
Here is the full stack trace:

[code]

The package versions that I'm using is:

[code]

Thanks!

[2014-12-08 17:49] daveaglick opened #26 "Problems with Nullables (Especially In Entity Framework)"
I'm having lots of issues with nullable types while using Entity Framework. When I have a [Computed] property that either returns or indirectly uses a nullable and try to use it in a projection, it usually throws a "NotSupportedException: Only parameterless constructors and initializers are supported in LINQ to Entities." The exact same code copied verbatim to the projection instead of through dec

[2014-12-08 22:40] #26 closed, assigned to nobody

[2014-12-09 10:55] JonPSmith opened #28 "Updated EFTests to check Nullable and had a problem"
Hi @hazzik and @somedave,

Firstly, thanks @hazzik for merging the EF tests into the code.

I synced my repro to get the changes done by @somedave and then added some [tests on Nullable](https://github.com/JonPSmith/DelegateDecompiler/blob/master/src/DelegateDecompiler.EfTests/TestGroup05BasicFeatures/Test04Nullable.cs). Unfortunately some of them fail with the error message:

[code]

Please check

[2014-12-09 11:54] #21 closed, assigned to nobody

[2014-12-09 16:40] daveaglick opened #30 "Problems with casting under certain conditions"
It appears as though inline casts are getting eaten, but only under certain conditions. I started out noticing this for enums. For example, consider the following test:

[code]

This works fine. However, this test does not:

[code]

It fails with System.InvalidOperationException : The binary operator Modulo is not defined for the types 'DelegateDecompiler.Tests.EnumTests+TestEnum' and 'System.Int3

[2014-12-10 21:16] #30 closed, assigned to nobody

[2014-12-11 12:13] #28 closed, assigned to nobody

[2014-12-11 12:39] #24 closed, assigned to nobody

[2014-12-11 18:31] daveaglick opened #32 "Unknown LINQ expression of type 'Default'"
First off, thanks again for merging all the PRs and for the awesome fixes you did to support nullables. The new OptimizeExpressionVisitor class is particularly nice - can't imagine what it took to figure out how to reduce those trees. I had also started to take a look at implementing `OpCodes.Initobj` but gave up when I couldn't find a good way to push an address instead of an expression to the st

[2014-12-11 22:58] #32 closed, assigned to nobody

[2014-12-12 02:16] hazzik opened #34 "Does not work well under Roslyn"
Roslyn generates slightly different IL code so, need to add these edge cases
- [x] Nullable
- [ ] Enums
- [x] Nested lambdas

[2014-12-12 08:43] JonPSmith opened #35 "Question on whether we should have .DecompileEf"
Hi guys,

Did you see my question question/comment about name clash? It was in a issue that is now closed. See below:

I happy to go with whatever you guys think, but an 'ambiguous reference' on an extension method is a bit harder to deal with.

[2014-12-14 10:09] #34 closed, assigned to nobody

[2014-12-14 10:20] #35 closed, assigned to nobody

[2014-12-14 11:25] #25 closed, assigned to nobody

[2014-12-14 11:37] #14 closed, assigned to nobody

[2014-12-14 13:00] #13 closed, assigned to nobody

[2014-12-18 08:31] JonPSmith opened #37 "DelegateDecompile mentioned in one of my articles"
Hi @hazzik and @somedave,

I have written a few articles for the [Simple-Talk](https://www.simple-talk.com/dotnet/) technical article site. [My latest article](https://www.simple-talk.com/dotnet/asp.net/using-entity-framework-with-an-existing-database--user-interface/) mentions DelegateDecompiler and you two by name.

Thanks for all your work on getting the various issues solved.

[2014-12-23 10:19] hazzik opened #38 "Improve support for AsNoTracking and Include in EF"
https://github.com/hazzik/DelegateDecompiler/pull/20#issuecomment-67488734

[2015-01-08 14:47] mwillebrands opened #39 "DelegateDecompiler throws InvalidCastException on int? in combination with datetime?"
DelegateDecompiler will crash with in InvalidCastException when using a combination of a Nullable Int and a Nullable DateTime. This will only happen in **release** mode.

I have created a testcase of which the code is down below, or you can download the entire project (console application) at http://www.clockwise-it.nl/DelegateDecompilerNullableDateTime.zip

[code]

The DelegateDecompiler crashes

[2015-01-12 10:02] #39 closed

[2015-01-12 12:16] mwillebrands commented on #15
Is probably fixed, https://github.com/hazzik/DelegateDecompiler/issues/39

[2015-01-12 20:00] somedave opened #40 "InvalidCastException when running in Release"
I'm having a hard time replicating this one in a simple project or in the test suite, but I'm seeing lots of InvalidCastExceptions when running in a Release build. I have been able to reproduce this behavior in my larger application both locally and on a remote IIS server. I'll continue to try and narrow down the problem, but in the meantime, here's a stack trace:

DelegateDecompiler : System.Inva

[2015-01-12 20:11] JonPSmith commented on #40
Hi @somedave. I noticed that you are using async. Is the problem not there in sync? The reason I ask is that the DelegateDecopiler [Cache.cs](https://github.com/hazzik/DelegateDecompiler/blob/master/src/DelegateDecompiler/Cache.cs) uses a lock and I don't know how good it is. I would have used a ConcurrectDictionary. Worth looking at.

[2015-01-12 20:13] somedave commented on #40
Nah - the actual action is synchronous (notice the call to `InvokeSynchronousActionMethod`). MVC just runs everything through the AsyncControllerActionInvoker first.

I do have some more information though - see the screen shot below for where it's failing.

![image](https://cloud.githubusercontent.com/assets/1020407/5710129/98e7fff0-9a6d-11e4-91f1-fc82da8e684d.png)

[2015-01-12 21:06] somedave commented on #40
Also, this looks to be isolated to the exact query I'm running - at least I can't reproduce on other queries. I'm using DeligateDecompiler elsewhere in the project and it works fine in Release mode.

Another note is that even when I add an explicit check for `LocalVariableInfo` in the `Processor` for `Ldloc_S` and `Ldloc` and I no longer get an exception on my local system when running a Release b

[2015-01-12 21:13] hazzik commented on #40
This should be fixed in 0.13.1

[2015-01-12 21:14] hazzik commented on #40
I'll fix it as soon as I get to home

[2015-01-12 21:16] somedave commented on #40
Awesome, thanks. For what it's worth, I can confirm that the problem exists with the code currently at the head of master. Any idea what the problem is?

[2015-01-12 21:25] hazzik commented on #40
Problem that some code has been untested and based on some assumptions, which are wrong. Apparently Mono.Reflection converts indices passed to Ldloc/Stloc to matched LocalVariableInfo. The fix should be similar to e6eec7153aaf31c64490caa6e8d78be6c7aaffab

[2015-01-12 21:27] somedave commented on #40
Cool - I'm just going to let you do your thing. I'll be happy to test the fix once it's pushed to the repo. Thanks again.

[2015-01-12 21:52] #40 closed

[2015-01-12 21:53] hazzik commented on #40
I've fixed this, please test. I've add some tests when will be at home

[2015-01-12 22:31] somedave commented on #40
I can confirm that the change resolves the `InvalidCastException`.

However, now that it's not throwing an exception the query is still causing IIS to kill the worker process. This is probably unrelated to this specific issue and is just showing up now because I get past the exception, so go ahead and leave this issue closed. I'll try and get a dump from IIS to see what's going on and open a new i

[2015-01-12 23:35] hazzik commented on #40
Thanks

[2015-01-13 01:26] hazzik opened #41 "knockout-mvc #46"
https://github.com/AndreyAkinshin/knockout-mvc/issues/46

[2015-01-13 01:26] hazzik opened #42 "knockout-mvc #28"
https://github.com/AndreyAkinshin/knockout-mvc/issues/28

[2015-01-13 01:26] hazzik opened #43 "knockout-mvc #25"
https://github.com/AndreyAkinshin/knockout-mvc/issues/25

[2015-01-13 05:22] hazzik commented on #40
This has been released as 0.14.0

[2015-01-13 11:23] JonPSmith opened #44 "Problem updating DelegateDecompiler.EntityFramework"
My local NuGet library, GenericServices, has a [Nuget .nuspec file](https://github.com/JonPSmith/GenericServices/blob/master/GenericServices/NuGet/GenericServices.nuspec) that currently references 0.13.0 version of . Now that 0.14.0 is out I wanted to update my application to that, which I do with the command `Update-Package DelegateDecompiler.EntityFramework`. However I get the error when I do th

[2015-01-13 12:02] hazzik commented on #44
I see

[2015-01-13 12:05] #44 closed

[2015-01-13 12:07] hazzik commented on #44
Should be fixed now

[2015-01-13 12:11] JonPSmith commented on #44
Yes, its fixed. Thanks for your help on that.

[2015-04-01 07:12] mwillebrands opened #46 "Self referencing computed property will cause an infinite loop and stackoverflow"
When having a self referencing property with the computed attribute, delegatedecompiler will create an infinite loop and causes a stackoverflow.

See the testcase for an example project
https://www.dropbox.com/s/40070ysin7h01j3/Self%20reference%20property%20overflowexception.zip?dl=0

[2015-04-01 10:50] mwillebrands commented on #46
If you change the property from
if(Base == null)

to
  if ( Base == null || Base == default(TestClass))
It works. Maybe helps fixing the stuff.

[2015-04-01 19:48] hazzik commented on #46
Hi @mwillebrands, I've looked into the problem and it seems that the "fix" works when you cache `Base` to an variable.

[2015-04-01 19:52] mwillebrands commented on #46
Hi Alexander,

Thanks for your response. Could you maybe explain it a bit more, i don't really understand. I've tried looking through your source, but couldn't really find a way to fix it.

Thanks
Maarten

[2015-04-01 19:55] hazzik commented on #46
@mwillebrands if you'll take a look to the difference in IL between "Debug" and "Release" versions you can get some ideas; however I'm not sure how to fix this yet.

[2015-04-01 19:59] mwillebrands commented on #46
Yeah i did, all i could think of is limit the amount of  hoe many levels deep the decompiling should go. That works,  however it is an hidious way to fix it ;)

[2015-04-01 20:33] hazzik commented on #46
But, I'm not sure how the decompiled expression tree should look like.

[2015-04-02 07:18] mwillebrands commented on #46
Well, i'm not really sure what causes the problem to arise in release. It's almost doing the same thing. Do you know what line in the IL causes it?

[DEBUG]
http://hastebin.com/raqecebewi.py

[RELEASE]
http://hastebin.com/iredufowur.il

They both should call get_Base and get_Test

[2015-04-02 08:57] krageon commented on #46
The control flows for both seem to involve the three function calls. However, release only ever ldarg.0's, whereas debug does stloc.0 and ldloc.0 before returning. Perhaps modifying whatever generates that IL into having the same ldarg.0 -> function -> stloc.0 -> ldloc.0 -> ret flow (instead of ldarg.0 -> function -> ret) would work.
The immediate downside that I see there is that it might be slow

[2015-04-02 08:59] mwillebrands commented on #46
Yeah, that would work, however, i can't seem to get the same IL whatever i do.
And this is pretty faulty, if a new version of the compiler changes the IL, you'll get strange errors and you don't know why...

I've changed it for now so it won't use Computed properties which reference itself, it's ugly, but it works. (Duplicated the logic in all the queries)

[2015-04-02 09:01] krageon commented on #46
You may try implementing your workaround (caching before the call) and keeping the original workflow around, then making an AB test that tests both (and expects a problem on the original flow). Then when you upgrade your environment, you will know if it's different.

[2015-04-02 15:09] mwillebrands commented on #46
True, however i can't get the IL to be the same as the debug version. I think focusing on getting the IL the same isn't the way we should go.

[2015-04-06 20:44] hazzik commented on #46
Yes.

[2015-04-16 20:14] jbogard opened #49 "Nullable decimal arithmetic fails in EF"
Failing test in #48. Get an exception for a computed nullable decimal property, "LINQ to Entities does not recognize the method 'System.Decimal GetValueOrDefault()' method, and this method cannot be translated into a store expression."

[2015-04-16 21:13] #49 closed

[2015-04-16 21:13] hazzik commented on #49
Thanks @jbogard. The issue has been fixed.

[2015-04-16 21:32] hazzik commented on #41
Should be fixed in [0.15.1](https://github.com/hazzik/DelegateDecompiler/releases/tag/0.15.1)

[2015-04-16 21:32] #41 closed

[2015-05-20 10:37] Yannick86 opened #50 "Support members of interfaces or abstract classes"
Hey guys,

I'm trying to make use of your API in one of our new projects, but I'm struggling to get everything to work. I can make use of it when the entity has a property which isn't an override or comes from an interface.

Could somebody show me an example with an abstract BaseEntity class which implements an interface. This interface must have 1 simple String property. The BaseEntity implements

[2015-05-21 08:39] mwillebrands commented on #50
Can you post a sample of a testcase which results in problems?

[2015-05-25 05:10] hazzik commented on #43
Fixed in 0.8.0

[2015-05-25 05:10] #43 closed

[2015-05-25 05:17] hazzik commented on #42
Fixed by #47

[2015-05-25 05:17] #42 closed

[2015-05-25 05:19] #37 closed

[2015-05-26 18:00] eabrahamyan opened #51 "DelegateDecompiler.EntityFramework with Odata v4"
Hi I have a project where I use EF and I  have some computed properties. It works fine until I use Odata $top or $skip query options.

[code]

i'll appreciate any help.
Thank you.

[2015-06-09 09:38] mayorovp opened #52 "Compute - Include - Decompile problem"
Look at this test:

		[Test]
		public void ComputeIncludeDecompileNotFail()
		{
			using (var db = new EfTestDbContext())
			{
				db.EfParents.Where(p => ComputedSample()).Include(p => p.Children).Decompile().Load();
			}
		}

		[Computed]
		private static bool ComputedSample() { return true; }

What happens here? `Include` returns `IQueryable` with expression like `value(ObjectQuery<...>).Includ

[2015-06-15 06:37] hazzik commented on #50
I can confirm that this is a bug.

[2015-06-18 15:43] mayorovp commented on #52
Maybe this issue is a duplicate of #38

[2015-06-18 23:14] hazzik commented on #52
Duplicates #38

[2015-06-18 23:14] #52 closed

[2015-07-23 14:38] daveaglick opened #54 "Roslyn Test Failures in VS 2015 RTM"
I was trying to reproduce a bug I was having only when building/running under VS 2015 RTM so I opened DelegateDecompiler to create a test and discovered a bunch of the existing tests also don't work in VS 2015. I'll assume these are due to Roslyn IL differences. See the screen shot below. I'm going to start trying to knock them out, but some of these may stretch the limits of my IL abilities.

![2

[2015-07-23 15:07] daveaglick commented on #54
FYI - for the record, here's the IL in VS 2013 for `CanUseLambda`:

[code]

And here it is in Roslyn 1.0/VS 2015 RTM (prior to throwing):

[code]

[2015-07-23 16:03] daveaglick commented on #54
I suspect the failed lambda tests have something to do with changes to how anonymous delgates are cached: http://stackoverflow.com/questions/30897647/delegate-caching-behavior-changes-in-roslyn

In debugging side-by-side, the first sign of major differences is in the `brtrue` handler at this condition:

[code]

In VS 2013 it evaluates to true because the anonymous delegate with the `i == 5` condit

[2015-07-23 16:06] daveaglick commented on #54
At this point I'll wait and see if you have an easy fix or know exactly what's going on. I don't want to spend too much time diving in deep if it's obvious to you where the problem lies. If not, I don't mind continuing to dig.

[2015-07-23 17:55] daveaglick commented on #54
Couldn't help myself... I think I've got the lambda issues resolved. I changed `IsCachedAnonymousMethodDelegate` to check for the field name starting with either `CS$<>9__` (old compiler with cached anonymous delegate) or `<>9__` (Roslyn compiler with lifted anonymous delegate). This should be safe given the pattern `P<N>C__SI` specified at http://stackoverflow.com/a/2509524/807064 still appears t

[2015-07-23 18:36] daveaglick commented on #54
The failures with enums is a little odd. It appears as though DelegateDecompiler and Roslyn are actually generating the same thing they did under the old compiler. It's the expected test value that's different - Roslyn apparently triggers a conversion of the enum value in the expression body. If you paste the following code into https://dotnetfiddle.net and then select either the old compiler or R

[2015-07-24 00:55] hazzik commented on #54
Thanks, @daveaglick!

[2015-07-30 09:55] hazzik commented on #54
Fixed in 0.17.0

[2015-07-30 09:55] #54 closed

[2015-08-13 08:17] esditm opened #55 "Can't get auto Decompile via configuration to work"
I'm trying to get the auto decompile to work as shown here: http://daveaglick.com/posts/computed-properties-and-entity-framework
But it doesn't work :(

Not sure what I'm doing wrong.

Here's the class that has a computed value.
[code]

This is the configuration.
[code]
I also tried removing the `[NotMapped]` and then changed `typeof(NotMappedAttribute)` to `typeof(ComputedAttribute)` in the above

[2015-08-13 08:27] esditm commented on #55
Also opened a stackoverflow http://stackoverflow.com/questions/31983116/cant-get-shoulddecompile-configuration-in-delegatedecompiler-to-work

[2015-08-13 09:39] esditm commented on #55
I've come to the conclusion that I've misunderstood what the blogger meant.

public class DelegateDecompilerConfiguration : DefaultConfiguration
{
    public override bool ShouldDecompile(MemberInfo memberInfo)
    {
        // Automatically decompile all NotMapped members
        return base.ShouldDecompile(memberInfo) || memberInfo.GetCustomAttributes(typeof(NotMappedAttribute), true).Length > 0

[2015-08-13 09:39] #55 closed

[2015-08-13 09:42] ghost opened #56 "Set Computed via Fluent API"
I'd like to be able to set the computed attribute via fluent api.

Example:

[code]

[2015-08-13 10:29] hazzik commented on #55
Yep, that's right you need to call `.Decompile()` anyway.

[2015-08-13 11:10] daveaglick commented on #55
I can see the confusion - I'll make the blog post clearer.

[2015-09-15 09:34] AlexSane opened #57 "Operators `as` and `is` are not supported"
[code]

[2015-10-05 20:23] Drol opened #58 "System.ArgumentException : Argument types do not match"
I don't know if this code is supposed to run but here goes.

[code]

The test i ran:

[code]

[2015-10-28 21:25] daveaglick opened #59 "Nullable null comparison generation is different"
Test:

[code]

Result:

[code]

At runtime this generates a `System.ArgumentException: Argument types do not match`. Possibly related to #58 (looks like the same class of problem, but that one is comparing totally different types of objects - if I figure this one out, I'll take a look at that one). Looking into it now.

Full runtime exception call stack below for reference:

[code]

[2015-10-30 14:35] pedroreys opened #61 "ArgumentException when the Computed Expression Body has a call to a method passing an enum value"
When the computed expression body has a call to a method that takes an enum as an argument, an invalid operation exception is thrown because it tries to pass the integer value instead of the typed enum one.

Here is a repro:

[code]

The test above fails with the following Exception:

[code]

[2015-10-30 16:06] daveaglick commented on #59
On further investigation, I'm not sure the test I sent in is really related to the production problem I am seeing. It actually looks like my problem might be related to #39. There's actually an ignored test for #39 already written that produces the same exception with a similar stack trace.

[2015-11-03 21:42] afladmark commented on #59
For what it's worth, I have a project where many properties are nullable and I was beginning to think DelegateDecompiler didn't work at all as I was getting this error almost everywhere I was trying to use it (all of which were comparing nullables to null). Using your latest development branch the error has entirely disappeared for me in these cases.

[2015-11-03 22:00] daveaglick commented on #59
That's awesome :thumbsup:

[2015-11-04 08:34] JonPSmith commented on #59
Well done @daveaglick.

[2015-11-04 13:56] cervengoc opened #62 "ArgumentException - Argument type mismatch when using Double.ToString("0.##") in a decompilable expression"
In the previous versions I had no problem decompiling this property:

[code]

In the latest version it throws an ArgumentException with the following stack strace.

[code]

Thank you,
Zoltán

[2015-11-08 08:17] hazzik commented on #62
Which version does work?

[2015-11-08 09:54] cervengoc commented on #62
It seems like the last working version is 0.15.1.

[2015-11-23 17:32] hugoisaac commented on #50
I think I'm having this issue too. Is there a known workaround?

I have an IStudentForm interface that implements another IForm interface:

[code]

Then I have an entity that implements the FormId as a computed property:

[code]

Then I have a generic method that relies on the FormId computed property:

[code]

This is not working and I'm getting the regular error as if I wasn't using DelegateDeco

[2015-11-25 08:46] hazzik commented on #62
@cervengoc can you please provide the linq expression which is failing?

[2015-11-25 08:49] cervengoc commented on #62
@hazzik it was a simple projection. Staying at my original example code, something like

[code]

[2015-11-25 09:09] hazzik commented on #62
@cervengoc what is the type of Unit?
Is Quantity or Unit decompilable as well?

[2015-11-25 09:12] cervengoc commented on #62
Sorry, for missing that. Quantity is double, Unit is string.

[2015-11-25 09:14] hazzik commented on #62
So, the thing is... Somewhere in the code you have an conditional expression, which calls `DelegateDecompiler.Address.Merge` but I do not see it in the example above

[2015-11-25 09:17] hazzik commented on #62
I believe this is the same as #58

[2015-11-25 09:17] #62 closed

[2015-11-25 09:26] cervengoc commented on #62
Hm... interesting. I can remember that when I removed the ToString call, it worked fine. If this is caused by some conditional expression, shouldn't it have crashed in that case too?

[2015-11-25 10:28] hazzik commented on #62
@cervengoc yes, I'm sure

[2015-11-25 10:29] cervengoc commented on #62
Ok, thank you. So I'm gonna wait for that fix and try when it's out.
Have a nice day.

[2015-11-25 10:54] #58 closed

[2015-11-25 10:54] #61 closed

[2015-11-25 11:09] pedroreys commented on #61
Thanks @hazzik!

[2015-11-25 11:21] #57 closed

[2015-12-01 13:53] TheVscript opened #63 "Complex expressions cause error during Merge Method in Address class"
Hi,

It seems this row throws an exception when we use Knockout.Mvc package and new version of Delegate decompiler in our application. (v17 cause error but with previous version everything works smoothly)

We want to generate ViewModel included calculated fields with Knockout.MVC and at least one of our expressions looks somethinkg like the following:
 1. address1.Expression will be null (in init

[2015-12-01 23:47] hazzik commented on #63
Hi, @thevscript, this has been fixed in December branch. This is the same as #58. I will release a new version shortly.

[2015-12-01 23:47] #63 closed

[2015-12-02 00:07] TheVscript commented on #63
Good news, Thank You!

[2015-12-22 11:02] mwillebrands opened #65 "Decimal multiplication with an int wont work with Nhibernate"
Hi,

When multiplying a decimal with an int, NHibernate crashes with "Code supposed to be unreachable" (in StackSpiller.cs inside System.Core) when compiling to a lambda.

The difference between directly executing the code and decompiling it is as follows:
*direct*
`myClass.MyItems.Sum(item=> (item.MyDecimal* Convert(item.MyInt)))`

*decompiled*
`myClass.MyItems.Sum(item=> (item.MyDecimal* op_Impl

[2015-12-23 00:11] pedroreys commented on #61
Hey @hazzik, do you have an ETA for when this fix will be available in Nuget?

Thanks again!

[2015-12-23 00:59] hazzik commented on #61
Sure not today. Probably before 5th of Jan
On Wed, 23 Dec 2015 at 1:11 PM Pedro Reys <notifications@github.com> wrote:

[2015-12-28 20:27] pedroreys commented on #61
awesome! thanks again.

[2015-12-29 05:15] hazzik commented on #65
@mwillebrands bug is in DelegateDecompiler

[2015-12-29 05:15] #65 closed

[2015-12-29 05:31] hazzik commented on #50
@hugoisaac is it still failing? I could not reproduce your case with a test. Can you submit a failing test as a pull request?

[2015-12-29 06:00] hazzik commented on #58
This has been released to nuget

[2015-12-29 06:00] hazzik commented on #61
This has been released to nuget

[2015-12-29 06:00] hazzik commented on #57
This has been released to nuget

[2015-12-29 06:00] hazzik commented on #65
This has been released to nuget

[2015-12-29 16:11] mwillebrands commented on #65
Thanks!
Op 29 dec. 2015 06:15 schreef "Alexander Zaytsev" <notifications@github.com

[2015-12-30 22:25] jbogard opened #66 "Support CoreCLR"
I spiked this out, the biggest issue will be getting the Mono.Reflection dependency. You'd either need to switch to the MS packages or get that package updated.

[2015-12-30 22:32] daveaglick commented on #66
:+1: I appreciate you taking the time to figure out what it would take. I use this library like crazy and it's going to end up being a blocker for moving to .NET Core on a lot of my work-related projects (though that won't even be on the table for a long while).

[2015-12-31 01:02] hazzik commented on #66
@jbogard, probably I will internalize the Mono.Reflection or switch to some other decompiler (Roslyn/Cecil/ILSpy - not sure yet).

[2016-01-04 04:27] jamesholcomb opened #67 "InvalidCastException: Unable to cast object for Enum.GetName()"
Hi, great library.  I ran into a scenario on 0.18 using `Enum.GetName()`.  Please see the following repro:
[code]
Result StackTrace:
[code]

[2016-01-04 05:54] hazzik commented on #67
Did it work previously?

[2016-01-04 06:38] #67 closed

[2016-01-04 06:41] hazzik commented on #67
@jamesholcomb this has been fixed and released to nuget as 0.18.1

[2016-01-08 23:00] DreadedTuba opened #68 "Dynamic query with predicate builder doesn't decompile children computed properties."
I posted this to stackoverflow a few weeks ago.  I don't know if it is an issue with DelegateDecompiler, but I was hoping someone here could resolve it.

http://stackoverflow.com/questions/34364756/how-to-use-delegatedecompiler-computed-properties-with-predicatebuilder-and-chil

[2016-01-09 23:19] hazzik commented on #68
I will take a look
On Sat, 9 Jan 2016 at 12:00 PM DreadedTuba <notifications@github.com> wrote:

[2016-01-11 02:22] DreadedTuba commented on #68
Thanks.  I tried looking into it, but realized I didn't know enough to debug it.

[2016-01-12 04:04] hugoisaac commented on #50
@hazzik I couldn't get it working. After trying with 2 or 3 different libraries (including DelegateDecompiler) I couldn't make the computed property work. From what I saw the problem had to do with the property being in an interface. At the end I had to use a different approach with System.Linq.Dynamic.

[2016-01-13 09:50] mwillebrands opened #69 "Endless loop in GetJoinPoint"
When calculating a value in a foreach loop, delegatedecompiler will get stuck in GetJoinPoint.
Doing a sum on TotalPrice in TestContainer will fail (keeps on going endlessly)

Please see the testcase: http://hastebin.com/tabijojoku.csharp

[code]

[2016-01-14 02:09] hazzik commented on #69
Just to make this clear - there is no way to represent the loop as
expression; so this will, probably, never be supported. The loops need to
be always written as Linq functions (sum, select, aggregate, etc).

I can try to make DD to detect loops and throw appropriate exception, but
could not promise to implement this soon.

On Wed, 13 Jan 2016 at 10:50 PM Maarten <notifications@github.com> wrote:

[2016-01-14 08:10] mwillebrands commented on #69
No problem, thanks for the heads up!

[2016-01-14 11:54] mwillebrands opened #70 "Casting to decimal fails"
When casting a number to a decimal, the following error is given:
"Expression of type 'System.Int32' cannot be used for constructor parameter of type 'System.Boolean'"

A work around is by doing
[code]
Please see testcase here:
http://hastebin.com/tiridajefo.cs

[2016-01-21 18:11] DreadedTuba commented on #68
I found a solution with LinqKit's Expand() extension.
Adding .Expand() to the predicate resolved the exception.

[2016-01-24 03:40] ykosbie opened #71 "Decompile fails with NullReferenceException when expression contains extension method"
DelegateDecompiler crashes with a NullReferenceException on this code

    var r = customers.Select(x => new {
        Name = x.GetFullName().Computed()
    })
    .Decompile();

where `GetFullName` is an extension method

    public static string GetFullName(this Customer c) {
        return c.FirstName + " " + c.LastName;
    }

[2016-01-24 04:49] ykosbie opened #72 "Decimal math is not recognized as operator"
VB compiler generates MSIL with `OpCodes.Call` to the `System.Decimal.Add`, `System.Decimal.Multiply`, etc methods for math performed on `decimal` numbers (I have not checked if C# compiler does the same).  This is not recognized as an operator by `Processor.BuildMethodCallExpression` so the resulting expression tree has `Expression.Call("Decimal.Subtract", args...)` instead of `Expression.Subtrac

[2016-01-25 05:07] ykosbie opened #74 "Decompile does not recognize some code compiled in VB"
1. VB does not use `m.IsHideBySig` for properties and operators so they are all decompiled to method call expressions.  Even for C# the definitive way to recognize a special method (operator / property) is with `IsSpecialName`.

[2016-01-25 09:32] #70 closed

[2016-01-25 09:48] #71 closed

[2016-01-25 09:53] hazzik commented on #66
@jbogard @daveaglick I would happily accept a pull request

[2016-02-01 21:53] daveaglick commented on #59
@hazzik I closed the related PR, but not sure if the resolution to that directly addresses this issue. I suspect that it does, but I'll let you be the judge and close this out if appropriate.

[2016-02-02 02:46] hazzik commented on #59
I will leave the issue open as an enhancement
On Tue, 2 Feb 2016 at 10:53 AM Dave Glick <notifications@github.com> wrote:

[2016-02-08 11:38] GetRandom opened #76 "Unsupported abstract and virtual properties (Perhaps and methods too)."
Hi, Alexander!
For my EF entities I use inheritance with overriding of properties in derived classes. But DelegateDecompiler ignores all overrides and uses body, which declared in the base virtual property or (in case with abstract property) throws "NullReferenceException".

As I understand, you can speak Russian. You can contact me on:
skype - vadim.ivanenko
email  - get_random@hotmail.com

[2016-02-08 16:21] okomeiht opened #77 "Switch case and if-elseif conditional not supported"
Hi Alexander,
I am working on a project where we use the Computed attribute on an enum.
The enum depends on some condition that is in a switch case. Unfortunatelly the switch case is not supported and the default value is always returned when I apply the Decompile Method.
We try to use If - elseif instead of the switch case but it does not work neither.

[2016-02-09 13:54] hazzik commented on #77
@okomeiht thanks for reporting the issue. Can you please show some code?

[2016-02-09 14:00] hazzik commented on #76
@GetRandom can you show some code? I was trying to reproduce this in https://github.com/hazzik/DelegateDecompiler/issues/50 but failed.

[2016-02-09 14:04] hazzik commented on #77
@okomeiht, ok, I understood what you mean. I will try to fix it, when I will have some time.

[2016-02-09 16:39] GetRandom commented on #76
@hazzik Here is a demo project.
[https://github.com/GetRandom/demo](https://github.com/GetRandom/demo)

Briefly:
[code]

[code]

[2016-02-09 22:14] hazzik commented on #76
Probably will never be supported. Because the expression does not know the exact type of the entity, it can not make any assumptions about inheritors.

But if you can show me the desired decompiled expression (query), I would try to implement this.

[2016-02-10 10:09] okomeiht commented on #77
Ok thanks. Great job on the library.

[2016-02-13 09:13] tystol opened #78 "'Int32 GetValueOrDefault()' NotSupportedException"
I have the exact same expression being used directly within an EF query, and then within a [Computed] property:

[code]

[code]

In the direct version, it works fine. But using DelegateDecompiler, I get the following exception on the computed property:

Am I doing anything wrong?

Or is this a bug? I'm guessing there is some difference between how EF inteprets the above direct expression, and what

[2016-02-13 23:53] hazzik commented on #78
@tystol can you define the property types involved? Or, better just show the full class where this property is located (you can omit properties that are not used in the query)

[2016-02-14 01:14] tystol commented on #78
Oops, sorry, of course you'd need that info:

[code]

[2016-02-14 02:07] hazzik commented on #78
@tystol to be honest, I just can not decompile this expression.

[2016-02-14 02:08] hazzik commented on #78
@tystol what version of DelegateDecompiler do you use?

[2016-02-14 04:32] tystol commented on #78
I might give it a crack a bit later - I haven't looked at the code yet, but any tips? Where's a good starting point?

Using 0.18.1

[2016-03-01 05:17] rdefreitas commented on #66
@jbogard @hazzik looks like the assembly-saver branch of Mono.Reflection has some recent changes that address issues in vNext/Core specifically. Might be able to get @jbevain to put out a new release?

[2016-03-01 06:08] hazzik commented on #66
@rdefreitas I dont think that .NET Core has .GetMethodBody() method

[2016-03-01 06:58] rdefreitas commented on #66
@hazzik if I'm not mistaken, GetMethodBody is internal but there is the MethodBody property of the MethodImplementation struct.

https://github.com/dotnet/corefx/blob/release/1.0.0-rc1/src/System.Reflection.Metadata/src/System/Reflection/Metadata/MethodImplementation.cs

[2016-03-01 17:01] jbevain commented on #66
@rdefreitas System.Reflection.Metadata is a fully managed metadata reader, it's completely separate from the traditional System.Reflection.

If .NET Core doesn't have `GetMethodBody()`, Mono.Reflection is going to be difficult to port.

[2016-03-01 20:31] rdefreitas commented on #66
@jbevain, my apologies, it seems you're correct. I came across this issue in dotnet/corefx#4543, which mentions that .NET Native won't have access to retrieve MetadataTokens... I would assume this is the reason for the lack of GetMethodBody().

----

Having a windows-only version of **Mono.Reflection** would kind of defeat the purpose of even having Mono in the name. :-1:  Although, maybe having a

[2016-05-04 13:36] DreadedTuba commented on #51
Hi, How you are using DelegateDecompiler with OData?  I'm having difficulties integrating them.  I'm using the Asp.Net Odata framework.  I almost got it working but ran into a problem with JSON serialization when $top and $filter options are used together (works separately, but not together).  The serializer complains about a nil value.  I found a related article that said it was related to IQuery

[2016-05-19 21:32] krzaku12 commented on #78
Same issue here, using version 0.18.1 of DelegateDecompiler. My property:
`[NotMapped]
[Computed]
public double? IskPerLp
    =>
        (quantity * invTypes.marketData.buyMax - iskCost -
        (lpOfferRequirementsDenormalized.Sum(x => x.quantity * x.invTypes.marketData.sellMin) ?? 0)) /
        (akCost > 0 ? akCost : (lpCost > 0 ? lpCost : 1));`

[2016-07-01 18:25] PVLopes opened #79 "Argument types do not match on nullable field"
I'm trying to add a default value to a nullable field.
In my original code I actually use a `Enum`, but this sample also fails.

I'm using version 0.18.1 (from NuGet) with EF.

Test sample, `TheGood` works, but `TheBad` fails:
[code]

[code]

[2016-07-08 08:35] Asshiah commented on #77
I am encountering the same problem.

Thanks for looking into this^^

[2016-07-11 13:08] EdsonMiranda opened #80 "Math.Round problem"
I have a method that returns a Math.Round(decimalNumber, 1, MidpointRounding.AwayFromZero) and I am getting the following error:

If I remove MidpointRounding.AwayFromZero, then it works fine.

Having problems with property DayOfWeek of DateTime fields too

[2016-07-12 15:40] EdsonMiranda opened #81 "DateTime operations"
Is it supported?
I am having troubles in following expression:

int daysDiff = (dateTime1 - dateTime2).Days

[2016-07-14 09:38] mwillebrands commented on #80
This has nothing to do with DelegateDecompiler but with Linq to Entities. There is no direct SQL statement for the function you are calling. So either you have to write it yourself or do the rounding in code where it is not translated to sql.

Same with your other problems.

[2016-07-14 09:39] mwillebrands commented on #81
This has nothing to do with DelegateDecompiler. I suspect you are using EntityFramework, so you can use these functions: https://msdn.microsoft.com/en-us/library/system.data.entity.dbfunctions.aspx

[2016-07-14 19:57] EdsonMiranda commented on #81
Ok, thank you! DbFunctions solved the problem!

[2016-07-14 19:57] #81 closed

[2016-07-14 19:57] EdsonMiranda commented on #80
Ok, thank you!

[2016-07-14 19:57] #80 closed

[2016-08-05 09:36] be4i opened #82 "vs2015"
Hello, when i upgraded to vs2015 now extension method Decompile() throws this error

i have one computed property in ClassA that makes a simple bool expression `PropertyA != null`

**EDIT:** i know that i edited the reason a couple of times but i was testing some stuff and for sure the reason is because i build the project with vs2015

[2016-08-12 07:10] ykosbie opened #83 "MemberInitExpression is not created when decompiling from a MethodInfo or Delegate"
When you decompile from an IQueryable which contains a MemberInitExpression, that expression is preserved.  However, when you decompile from a MethodInfo or a Delegate which creates an object with the object initializer syntax, no member init expression is created.

[code]

[2016-09-05 13:57] cervengoc opened #84 "String concatenation throws Exception if ToString is not called explicitly"
I use version 0.18.1. I have the following simple class.

[code]

This throws an exception when decompiling. However, if I explicitly call `ToString` on the numbers like

[code]

it works nicely.

On top of everything, tools like Resharper wants to remove the explicit `ToString` call, and as a result the code can crash at runtime, which all together is a terrible situation.

[2016-09-05 21:26] hazzik commented on #84
Hey, I can not get it fail on the develop branch in VS 2015. Can you please confirm the environment you use?

[2016-09-05 21:29] hazzik commented on #84
Ok, fixed by #70

[2016-09-05 21:29] #84 closed

[2016-09-06 07:19] cervengoc commented on #84
Thank you for the quick response. Could you please put together a new NuGet release? Would be important to have this fixed.

[2016-09-06 07:20] hazzik commented on #84
I'll do later today

On Tue, 6 Sep 2016 at 7:19 PM, Zoltán Tamási <notifications@github.com>
wrote:

[2016-09-07 08:44] hazzik commented on #70
Released as 0.19.0

[2016-09-07 08:44] hazzik commented on #71
Released as 0.19.0

[2016-09-07 08:44] hazzik commented on #84
Released as 0.19.0

[2016-09-07 09:13] cervengoc commented on #84
Thank you, I was checking the related changes in the code. At first glance it seemed like the fixes are only for the cases when `int` values are used within concatenation, but maybe I'm wrong. Don't have time currently for testing, so I'd like to ask if the fix covers every types, like `float`, `double`, `long`, `bool` etc.?

[2016-09-07 09:51] hazzik commented on #84
Yes, all these cases are fixed.

[2016-09-12 07:42] hazzik commented on #79
@PVLopes please check 0.19.0, I think it might be fixed there.

[2016-09-12 08:48] hazzik commented on #79
Fixed in 0.19.0 (added tests to ade8762a0cee4fc9e10f6d69cce4dcc617d5133c)

[2016-09-12 08:49] #79 closed

[2016-09-12 10:29] PVLopes commented on #79
Thanks, it's working now.

This is a sample of the code that I use:
[code]

[2016-09-14 07:38] Heras opened #85 "Can't get DelegateDecompiler to play with DateTime"
I absolutely love the concept, but I can't get it to work with comparing DateTimes, something that I need to do a lot.

I've tried

[code]
but it throws

I've tried using DbFunctions:

[code]

But it throws

Is there any way I can get a property like this to work, or am I out of luck?

[2016-09-14 07:42] hazzik commented on #85
I think I know what the issue is, but I'll need to verify that. I'll take a look tomorrow.

[2016-09-14 07:46] Heras commented on #85
Great! Thank you for your quick reply!

[2016-09-14 08:04] hazzik commented on #85
@Heras what version do you use? Also, what .NET framework version? I can not reproduce on 0.19.0

[2016-09-14 08:19] Heras commented on #85
Both latest, EntityFramework v6.1.3 & DelegateDecompiler v0.19.0

But your question triggered my memory: there may be some things wrong in our setup. I'm going to check that first!

[2016-09-14 08:21] hazzik commented on #85
What about visual studio and .NET (not entity framework) version?
On Wed, 14 Sep 2016 at 8:19 PM, Heras <notifications@github.com> wrote:

[2016-09-14 08:24] Heras commented on #85
VS2015 Update 3 & .NET 4.6

[2016-09-14 08:28] Heras commented on #85
We are still working with ObjectContext instead of DbContext. Could that be it?

[2016-09-14 08:31] hazzik commented on #85
It is definetely about DbFunctions.AddDays. But dont know who generated "call <constructor>" in this case.

[2016-09-14 12:47] Heras commented on #85
I'm afraid I don't fully understand your reply... Is it something that my code does, or something I can assist you with, or maybe a limit to DelegateDecompiler that it just cannot handle DateTime comparisons?

[2016-10-03 10:50] be4i commented on #82
Can anyone give me some direction to where to look ?

[2016-10-03 11:39] hazzik commented on #82
Please check the latest version, it's probably fixed

[2016-10-03 13:17] be4i commented on #82
I am on the latest version publish to Nuget (0.19.0)

[2016-10-03 14:41] be4i commented on #82
i was able to make it work with this expression `PropertyA == null ? false : true`

[2016-10-04 10:14] Heras commented on #85
Hi hazzik, any way this problem can be resolved, or I can assist you? Otherwise I'm forced to move away from the DelegateDecompiler approach :(

[2016-10-04 10:15] hazzik commented on #85
Can you please check the latest version? It might be fixed there.

[2016-10-04 10:55] Heras commented on #85
I'm at v.0.19.0 already, but I did notice I have some nuget packages that have updates. I'll try again when I have every package up-to-date

[2016-10-04 10:56] mwillebrands commented on #85
If you can't get it to work, can you create a demo project to demonstrate the issue?

[2016-10-04 15:07] Heras commented on #85
[DecompileDateTime.zip](https://github.com/hazzik/DelegateDecompiler/files/508788/DecompileDateTime.zip)

The smallest project I could make that has the exact same problem. Just run and see it crash. So, at least I can be sure that it isn't caused by our "big" solution.

[2016-10-04 15:20] Heras commented on #85
What might be causing it:

There's tricks to make relative DateTimes to work with LINQ to SQL:

- create a local var holding the new date
- use DbFunctions

I think in both cases, when compiled, the trick is "removed" from the expression, and decompiling will reintroduce the original problem that LINQ 2 SQL cannot translate DateTime.Now or DateTime.Today

[2016-10-05 10:14] hazzik commented on #85
Hi @Heras

This will not work as the variable will be inlined into the expression.

This works in the following way:
[code]
or
[code]
The `.Value`/cast is required because the DelegateDecompiler does not yet support optimizing folding of nullable value in this case.

[2016-10-05 10:33] Heras commented on #85
Hi hazzik,

Fantastic!

AddYears returning a Nullable is such unexpected behaviour that I hadn't even noticed it.

Thanks for your quick replies and help. I will rewrite a lot of read-only properties to use the decompiler know, and have way cleaner code than we used to have.

Thanks again!

[2016-10-05 12:02] #72 closed

[2016-10-05 12:02] #74 closed

[2016-10-05 12:03] hazzik commented on #85
Fixed in 9e114ff

[2016-10-05 12:03] hazzik commented on #82
Fixed in 9e114ff

[2016-10-05 12:03] #82 closed

[2016-10-05 12:03] #85 closed

[2016-10-05 12:18] hazzik commented on #72
Pushed to NuGet

[2016-10-05 12:18] hazzik commented on #82
Pushed to NuGet

[2016-10-05 12:19] hazzik commented on #85
Pushed to NuGet

[2016-10-05 12:19] hazzik commented on #74
Pushed to NuGet

[2016-10-11 18:21] Xoroles commented on #50
Hi,

I have the same Problem and Work actually on a Fork. I think with some Improvements in the Configuration.cs i can produce a fix, so you must Write on this specific issuer his own configuration and overwrite a Method to get the MethodInfo from the concrete Type. Because you have at this point the MemberInfo of the Interface Property.

[2016-10-17 20:43] Suamere opened #86 "Does this require the Computed Attribute?"
Does this require the C# Attribute notation? [Computed]?  Or can you use the Fluent API HasDatabaseGeneratedOption(DatabaseGeneratedOption.Computed) and see the same results.

[2016-10-17 20:44] hazzik commented on #86
Not sure that I'm follwing you on the issue

[2016-10-17 20:48] Suamere commented on #86
Quick Response!  This isn't necessarily an issue, except that it's an issue for me if I can't do so.  My Entity Classes exist in a project where there is no Entity Framework installed.  I use the Fluent API to apply EF Properties such as DatabaseGeneratedOptions.  E.G.:

modelBuilder.Entity<Income>().Property(t => t.Sum)
    .HasDatabaseGeneratedOption(DatabaseGeneratedOption.Computed)

So I do no

[2016-10-17 20:49] Suamere commented on #86
Sorry, I just scanned the code real quick and saw that you are providing your own ComputedAttribute.  I made an assumption that it was the EF Computed attribute.  I appologize.

[2016-10-17 20:51] hazzik commented on #86
No worries.
Yes, DD has own `ComputedAttribute`.

[2016-10-17 20:51] #86 closed

[2016-10-18 15:44] tl24 opened #87 "Testing Enum with flags gives error"
If I have a flags enum like this:

[code]

and have a property defined like this:

[code]

Trying to access Flag1IsSet property in a query results in this error:
The binary operator And is not defined for the types 'MyFlags ' and 'System.Int32'

Using MyFlagsProperty.IsSet(MyFlags.Flag1) does work and is probably the better way of doing it, but the decompiler is doing some sort of conversion on th

[2016-10-19 00:16] hazzik commented on #87
Thanks for reporting

[2016-11-12 08:45] grassgit commented on #51
I ran in to this issue and incase someone else runs into it to I did figure out a workaround.

**TL;DR** the solution is a replacement of the EnableQuery below (with some restrictions)

With some decompiling through the WebAPI OData code this issue is actually cause by the appliction of the odata select, expand and (model) pagesize options. During these the an up-cast is done which works for the s

[2016-11-20 04:44] cwj92 opened #88 ".net core and ef core support"
hi, is this library going to support core framework in future release?

[2016-11-23 00:42] hazzik commented on #88
Hi, probably, only after when .NETStandard 2.0 would be released (or RC'ed)

[2016-12-14 13:34] Unders0n opened #89 "DateTime in linq queries"
Hello, have you experinced trouble with DateTime? Discussed here: http://stackoverflow.com/questions/17371798/how-to-use-dateadd-over-column-in-linq-dateadd-is-not-recognized-by-linq

Everybody sujjests to use DbFunctions.AddYears() but its decrease all profit of linq - its interoperability, you cant use it in linq2objects or to test it locally. So that i was thinking is that we can leave regular

[2016-12-19 12:44] cervengoc opened #90 "Decompile fails when calling Enumerable.LastOrDefault"
This scenario fails to decompile with version `0.20`.

[code]

The exception stack trace (translated partially from hungarian)

[code]

[2016-12-19 22:28] hazzik commented on #90
@cervengoc what versions of .NET and VS do you use?

[2016-12-20 02:13] cervengoc commented on #90
.NET 4.5 VS2015 Win8.1 x64

[2016-12-20 02:14] hazzik commented on #90
The reason I'm asking is because I could not reproduce the error. Can you provide a test case which is failing?

[2016-12-25 00:46] hazzik commented on #56
Fixed in #91 ([0.21.0](https://github.com/hazzik/DelegateDecompiler/releases/tag/0.21.0))

[2016-12-25 00:46] #56 closed

[2016-12-25 00:51] hazzik commented on #88
Duplicated #66

[2016-12-25 00:51] #88 closed

[2016-12-25 17:28] morgen2009 commented on #83
Thanks for nice weekend :) The sample from the post works.

The *Processor* class handled setters as *void* methods and returned constructor, because it was the last resulting method. Also, IL instructions for anonymouns functions contain reference to the context (as ConstantExpression) instead of reference to *this* (as ParameterExpression). This expression should be excluded from expression para

[2016-12-25 21:50] morgen2009 commented on #83
As I undestand `f.Decompile()` doesn't create `Expression<Func<foo, bar>>`, but `Expression<Func<context, foo, bar>>`. The **context** stands for instance of class (methods) or for instance of anonymous class (lambda) and should be later replaced by the actual value. In native expression tree the value ist already included as `ConstantExpression`. In IL instructions, this is just parameter like `$

[2017-01-02 12:03] cervengoc commented on #90
I'll try to break it down when I have some time.

[2017-01-02 12:06] cervengoc opened #94 "Enum constants are decompiled as their underlying type"
It seems like decompiling an expression like this results loosing the enum type of the constant `TestEnum.First`, and having only an `Int32` value of `1`.

[code]

[2017-01-04 04:26] #83 closed

[2017-01-04 04:29] hazzik commented on #83
@morgen2009 could you please create an issue for your last question?

[2017-01-04 22:03] morgen2009 opened #95 "Decompile for anonymous functions with variables from outer scope creates wrong expression"
If an anonymous function `Expression<Func<...>>` uses variables from outer scope, its expression tree would contain `MemberExpression` applied to the instance of anonymous class. This instance is presented by `ConstantExpression` and contains current variable values. The IL code references it as first parameter with `OpCodes.Ldarg_0` code. In the same manner, the methods would reference the instan

[2017-01-04 23:03] #95 closed

[2017-01-06 11:21] gvas opened #96 "Enums with underlying type other than int throw InvalidOperationException"
.NET Framework 4.5.2
DelegateDecompiler 0.21.0

[code]

The code above throws an InvalidOperationException with the following message:
"The binary operator Equal is not defined for the types 'System.Byte' and 'System.Int32'."

Changing the PayGrade enum's underlying type to int prevents the exception.

[2017-01-10 06:31] hazzik commented on #95
Released 0.22.0

[2017-01-10 06:42] hazzik commented on #94
The compiler will create the same expression. There are tests which verify that.

[2017-01-10 11:33] #87 closed

[2017-01-10 22:18] hazzik commented on #51
Shall be fixed with #97

[2017-01-10 22:18] #51 closed

[2017-01-11 03:59] #78 closed

[2017-01-11 04:01] #59 closed

[2017-01-11 04:43] hazzik commented on #76
The idea is to decompile method to the explicit type check-implementation:
abstract:
[code]
virtual:
[code]
This will require to have explicit (implicit would be expensive) configuration for abstract/virtual methods and properties.

[2017-01-17 17:33] tl24 opened #98 "Comparison of enum with nullable enum fails"
Let's say I have these classes:

public enum MyEnum {
   One,
   Two
}

public class MyModel {
    public MyEnum? EnumProp {get; set;}
    [Computed]
    public bool IsTwo => EnumProp == MyEnum.Two
}

If I try and execute the query after decompiling I get this error:
LINQ to Entities does not recognize the method 'MyEnum GetValueOrDefault()' method, and this method cannot be translated into a stor

[2017-03-10 17:56] mellamokb opened #99 "The method 'Skip' is only supported for sorted input in LINQ to Entities."
Receiving the following error message when using the Decompile() method with a Kendo MVC UI:

I am not using the Skip or OrderBy method anywhere in the code.

`        return Json(EmpLiteRepo.GetCompanyListForSelection().ToDataSourceResult(request), JsonRequestBehavior.AllowGet);`

The definition for GetCompanyListForSelection() is as follows:

[code]

Where _getCompanyQry() is a helper function t

[2017-03-13 19:54] hazzik commented on #99
I don't know what is `ToDataSourceResult` but I assume this is Telekrik's extension. I have to assume that it adds Skip&Take to the `IQueryable<>`. What it is saying is that you need to add default sort order to the query.

[2017-03-13 19:54] #99 closed

[2017-03-13 19:56] hazzik commented on #99
Also, It seems that you are using EF, so, please use DelegateDecompiler.EntityFramework and it's `DecompileAsync` method.

[2017-03-13 20:13] mellamokb commented on #99
I can confirm that adding an OrderBy clause to the code has resolved the error.

Thanks, hazzik!

[2017-03-13 20:14] hazzik commented on #99
np

[2017-03-13 22:02] hazzik commented on #87
Released as 0.23.0

[2017-03-13 22:02] hazzik commented on #78
Released as 0.23.0

[2017-03-13 22:03] hazzik commented on #98
Released as 0.23.0

[2017-03-13 22:09] #98 closed

[2017-03-14 20:18] sebrojas14 opened #100 "Publish release notes for services like sibbell.com?"

[2017-03-14 20:19] hazzik commented on #100
Never heard of them. Can I do it painlessly (automatically/automagically)?

[2017-03-17 06:51] dmostert opened #101 "DbFuncions"
I'm not sure if this should work:
`[Computed]`
`public int Days => DbFunctions.DiffDays((DateTime?)DateTime.Today, (DateTime?)LoggedDate) ?? 0
`
(LoggedDate is DateTime)

I get the following exception:
`System.NotSupportedException: 'This function can only be invoked from LINQ to Entities.'`

Which is expected, but looking at other issues, it would seem that DBFuctions should work?

Or any other o

[2017-03-17 06:54] dmostert opened #102 "DbArithmeticExpression"
This is another attempt at DateDiff:

`[Computed]`
`public int Days => ((DateTime?) DateTime.Today - (DateTime?) LoggedDate)?.Days ?? 0;`

This version works better than the DateDiff version, but I sometimes get the following exception:

`DbArithmeticExpression arguments must have a numeric common type.`

This seems to happen when `Days` is used in a Where or OrderBy clause.

Any suggestions?

[2017-03-24 16:22] sebrojas14 commented on #100
Yes, you only have to put the release notes in the GitHub versions, currently you don't have it
![image](https://cloud.githubusercontent.com/assets/1771574/24303485/31b23f96-1084-11e7-9b7f-cf2269a4daaf.png)

[2017-04-20 20:18] zsvanderlaan commented on #66
I would also like to see .net core support for use with Automapper EF extensions and would be happy to help contribute if anyone can point in the right direction.

[2017-04-21 13:36] jbogard commented on #66
@zsvanderlaan we're all waiting for .NET Standard 2.0/.NET Core 2.0 to drop. That's where GetMethodBody comes back. Then this will need to target `netstandard20`.

[2017-04-29 05:40] zsvanderlaan commented on #66
In case anyone else is not familiar with this, i did some research, and from what I understand .net core 2.0 will run on top of .net standard 2.0, which is cross platform. .net standard 2.0 is the framework layer where GetMethodBody is defined, and so once .net standard 2.0 is released (suspected May 10th at Build) the Delegate Decompiler library (and its Mono.Reflection dependency) should be able

[2017-05-02 05:28] jojose opened #103 "Can we use DelegateDecomiler when we obfuscate the code?"
We are using 'Dotfuscator' to obfuscate the dlls. We started using DelegateDecompiler for supporting some functionality when using entity framework. The issue is that after obfuscation, the EF method call fails. We tried to Exclude the classes used in the EF calls from obfuscation but still the issue is there.

The following is the error we are getting

[2017-05-02 05:29] jojose commented on #103
System.AggregateException: One or more errors occurred. ---> System.ArgumentException: metadataToken
Parameter name: Token 0x5d07727e is not a valid MemberInfo token in the scope of module RBS.Advisor.BusinessEntities.dll.
   at System.Reflection.RuntimeModule.ResolveMember(Int32 metadataToken, Type[] genericTypeArguments, Type[] genericMethodArguments)
   at Mono.Reflection.MethodBodyReader.ReadO

[2017-05-02 05:46] hazzik commented on #103
DelegateDecompiler depends on [Mono.Reflection](https://github.com/jbevain/mono.reflection) to read the bytecode of bodies of methods. It seems that Mono.Reflection does not understand the bytecode produced by Dotfuscator.

Please direct your questions to Mono.Reflection: https://github.com/jbevain/mono.reflection

From my point of view it's not supported.

[2017-05-02 05:46] #103 closed

[2017-05-02 05:47] hazzik commented on #66
I made a PR to support .NET Standard 2.0 to Mono.Reflection: https://github.com/jbevain/mono.reflection/pull/16

[2017-06-24 11:29] ClockGet opened #106 "I find an issue when one type of the arguments of delegate is Dictionary<>"
Thank for your working, I lose my way in the similar work these days, I Google for something everyday, At last, I find the best project in your website, and for testing I write some code like this:
[code]
And when I Debug the code, I find the DebugView of lambda is:
[code]
Obviously, something is going wrong. Then I read deeply the source code and find in the file Processor.cs, the method **BuildM

[2017-06-26 06:12] jxw00100 opened #107 "Exception occured as "Argument types do not match""
Hi,
I recently using this wonderful package in my project. However a error happened and blocked my developing. Here is the exception detail:

After looking deep inside your source code, i guess the problem is caused in this method "internal static Expression AdjustType(Expression expression, Type type)".

Actually, in my case, with the method:
Address Merge(Expression test, Address address1, Addre

[2017-06-26 06:30] jxw00100 commented on #107
I tried add following code in the end of "AdjustType"

if (type.IsAssignableFrom(expression.Type) && expression.Type.IsClass)
            {
                return Expression.Convert(expression, type);
            }

And then my problem was resolved.
Hope my words make sense for you

[2017-06-26 06:33] hazzik commented on #107
Thanks, I'll take a look when I'll have time.

[2017-06-26 06:33] hazzik commented on #106
Thanks, I'll take a look when I'll have time.

[2017-06-26 06:47] #106 closed

[2017-06-26 06:47] hazzik commented on #106
I'll release closer to the weekends

[2017-06-26 06:49] hazzik commented on #107
@jxw00100 can you provide a sample code which you are trying to decompile?

[2017-06-26 06:54] jxw00100 commented on #107
The original code is complicated and has many sensitive business logic.
I will try to provide you with a simple one later if I made it.

[2017-06-27 02:25] jxw00100 opened #108 "Seems it doesn't support "out" parameter. A "Object reference not set to an instance of an object." exception happend when decompiling such method"
Example code:

[code]

[2017-06-27 02:36] hazzik commented on #108
It's, probably, not possible. The expression does not support declaring the variable, so following expression is not possible:

[code]
I could _try_ to make this possible:
[code]

But I don't thing that this would be helpful at all.

For this particular case, try [TryParsers](https://bitbucket.org/raboof/tryparsers/) library

[2017-06-27 07:02] jxw00100 commented on #108
I tried add the variable in a block expression (along with fixing of some other bugs in the AdjustType method).

In the MethodBodyDecompiler.Decompile() method, I temporarily modified it as:

[code]

After that, the test method passed.
Not sure if such way meets all cases but guess it should be a clue for resolving such problem.

[2017-08-31 09:27] jaenyph opened #109 "Accessing a overrided property in a casted derived type throws NullReferenceException"
[code]

Stack trace is as follow :
[code]

[2017-09-13 08:38] jaenyph commented on #76
@hazzik I think you are right, we can retrieve all the concrete classes when we are handling an override of an abstract properties, and modify the expression tree to use is/as operators. It should work as linq2entities support them.

`return x is ConcreteClassA
  ? (x as ConcreteClassA).SomeOverrideProp
  : x is ConcreteClassB
    ? (x as ConcreteClassB).SomeOverrideProp
    : x is ConcreteClassC

[2017-09-26 01:32] tb-mtg commented on #66
Hi guys, Are there any updates now that .NET Standard/Core 2.0 specifications are complete?

[2017-09-26 02:08] hazzik commented on #66
@tb-mtg I'm waiting on Mono.Reflection dependency. However you can easily reference DelegateDecompiler/Mono.Reflection from .NET Standard 2.0 assembly using compatibility mode

[2017-10-13 14:45] jaenyph commented on #109
May be partially fixed (for abstract members) in my PullRequest #110

[2017-11-07 08:17] mayorovp commented on #101
You can write you own function and mark it with `[DbFunction("Edm", "DiffDays")]` attribute

[2017-11-16 20:17] NetMastr5 commented on #107
I also get an Argument types do not match error on 1 query that uses decompile, but only when running resharper code coverage.

Other decompiled IQueryables work without issue, as well as the query in question when not running code coverage (debug or non-debug).

I have not tried jxw00100's source code change to see if it fixes my issue as well, as I have not had time, but wanted to post details o

[2017-11-17 00:23] NetMastr5 commented on #89
A workaround to this problem is to use another library that allows you to create your own db function mapped methods.  I use this to map many different db functions (custom and builtin).  I do this in conjunction with delegate decompiler.  The library I use for this is https://weblogs.asp.net/Dixin/EntityFramework.Functions

[2017-11-17 07:24] Unders0n commented on #89
@NetMastr5 I think the "Scalar-valued function, composable" from examples is what we need, but i don't get it, they just added throwing of NonSupported error to it ?

[2017-11-17 11:35] NetMastr5 commented on #89
Yes, they are just placeholders of where the DB functions should be.  When the Entity Framework's data provider parses the expression tree to generate the query, it generates the text you specify in the stub function's scalar valued attribute, because the library registers those mappings.  Now there is an oddity that I have run across for builtin functions in Oracle that looks like a bug in Oracle

[2017-12-17 09:40] magicmoux opened #113 "DecompileExpressionVisitor.VisitMethodCall with virtual computed methods"
Hi people,

first a big thank you for making this library, it promises so much potential when dealing with EF or other providers' limitations.

However, I found out a "bug" in the native LINQ implementation that do not return the most specific MethodInfo when visiting method calls.

Here's a simple test to see the issue :

`

        [TestFixture]
        public class VirtualMemberTest : Decompile

[2017-12-17 09:51] magicmoux commented on #113
Fix visible at
https://github.com/magicmoux/DelegateDecompiler/commit/c10a43315f84c0d0a68797948924a02dc3d80e5b

[2017-12-18 10:51] nawfalhasan commented on #77
Any fix or workaround for this as of now?

[2017-12-18 11:22] gvas commented on #77
AFAIK the `?:` tetrial operator is implemented, maybe you can give it a try.
Eg.
[code]

[2017-12-18 13:01] magicmoux commented on #113
Hi again,
I provide a solution to this issue with PR https://github.com/hazzik/DelegateDecompiler/pull/114

[2017-12-18 13:47] nawfalhasan commented on #77
@gvas Thanks, yes that works. Even normal switch case worked for me when I tried. Didnt try with if-else yet. This library is awesome!

[2017-12-22 17:04] magicmoux commented on #107
No follow up on this case ?
I could try to include @jxw00100 fix in PR #114 if it passes the tests harness but, if possible, specific unit tests would be welcome anyway.

[2017-12-23 07:01] magicmoux commented on #107
Deleted my previous comment, since it came from a mistake on my side.
Sory for the disturbance and best wishes anyway.

[2017-12-27 09:09] nawfalhasan opened #115 "Decompile DateTime to play with ToUniversalTime and ToLocalTime"
Say I have a DateTime property coming from DB which is in UTC. I would like to display it in local time in front-end. E.g.

    public partial class Order
    {
        public DateTime OrderDate { get; set; }

        [Computed]
        public DateTime OrderDateLocal => OrderDate.ToLocalTime();
    }

My EF query would look like,

    IQueryable query = new NORTHWNDEntities().Orders.Select(o => ne

[2018-01-05 16:05] derigel23 commented on #66
DelegateDecompiler.EntityFramework should reference Microsoft.EntityFrameworkCore for  .NET Standard/Core 2.0 or better introduce new package DelegateDecompiler.EntityFrameworkCore?

[2018-01-05 16:44] jbogard commented on #66
New package.

On Fri, Jan 5, 2018 at 10:05 AM Slava Trenogin <notifications@github.com>
wrote:

[2018-01-28 22:35] qszhuan commented on #96
any updates for this bug?
I have a similar bug when I mixed the enum comparison and other property into one method/property.

`[Computed]
        private static bool B(Order x)
        {
            return x.IsActive && (x.OrderStatus >= OrderStatus.Complete|| x.OrderStatus == OrderStatus.Withdraw);
        }`

The exception is:
`The binary operator GreaterThanOrEqual is not defined for the types

[2018-01-29 05:27] gvas commented on #96
I have a workaround, but I'm not sure if it is applicable in your case. Try to add an additional computed property which explicitly casts the enum to int.

[code]

(I've converted your B method to a property simply because I'm not familiar with computed methods.)

[2018-04-13 19:27] eveneveneven commented on #66
Are you still waiting for Mono.Reflection dependency? Will that even happen this year?
I'm eagerly awaiting support for EF Core :)

[2018-04-17 10:36] mycroes opened #117 "NotSupportedException when decompiling assignment `x => x.Value = 3`"
When decompiling a simple assignment (`x => x.Value = 3`) a NotSupportedException is thrown from `Processor.BuildMemberInit(...)`. I was wondering if this behavior is intentional since the C# compiler doesn't actually allow you to type this as expression either, or whether it's just not supported because there was no demand.

I don't see any reason why it would be hard to generate the BinaryExpres

[2018-04-20 16:07] IronSean opened #118 "Can we enforce C# behaviour on the SQL SUM operation?"
In C# when you use `Sum()` on an empty set, it returns 0. When that converts to SQL it returns `null`. So if you have a property like this it will return NULL on the SQL query even though in C# it calculates a value:

[code]

**Expected**
If either set is empty, the result will be (Sum1 + 0) = Sum1 and the list will sort by OrderTotal. Sorting in Memory will achieve this.

**Actual**
In C# the res

[2018-04-28 09:14] hazzik commented on #113
Duplicate of #76

[2018-04-28 09:14] #113 closed

[2018-04-28 09:29] #76 closed

[2018-04-28 10:47] #50 closed

[2018-04-28 10:49] hazzik commented on #118
This will require a lot of work on our side. I believe that the linq provider should emit the SQL that matches the Linq-to-objects semantic. If this is not supported by your linq provider you need to make changes to your method.

[2018-04-28 10:49] #118 closed

[2018-04-28 11:34] #117 closed

[2018-04-28 11:35] hazzik commented on #117
This was a mix of both reasons.

[2018-04-28 11:37] hazzik commented on #115
This is not in the scope of the DelegateDecompiler. The problem is that EF does not support these methods.

[2018-04-28 11:37] #115 closed

[2018-04-28 11:39] hazzik commented on #68
As I understand this is not the DelegateDecompiler issue.

[2018-04-28 11:39] #68 closed

[2018-04-28 12:06] #66 closed

[2018-04-28 12:07] hazzik commented on #66
I had to release own version of [Mono.Reflection](https://www.nuget.org/packages/Mono.Reflection.Core) to be able to proceed.

[2018-04-28 14:53] hazzik commented on #66
I've released [DelegateDecompiler.EntityFrameworkCore](https://www.nuget.org/packages/DelegateDecompiler.EntityFrameworkCore).

[2018-04-28 18:00] mycroes commented on #117
Thanks for implementing this!

[2018-05-07 08:37] neseih opened #120 "Virtual method decompile doesn't work with NHibernate"
Hi,

the new introduced virtual method decompile (great idea @hazzik) throws an exception with NHibernate mapped classes.
All NHibernate properties must be virtual.
NHibernate creates proxy classes that are IL generated subclasses of mapped entities.
Pseudo code:
[code]

Stack Trace:
[code]
MethodBodyDecompiler:57:
[code]

There should be some check if the subclass is a NHibernate Proxy class in t

[2018-05-07 21:43] hazzik commented on #120
Omg. I completely forgot about this scenario...

[2018-06-13 07:45] magicmoux commented on #120
Hi @hazzik,
I also had some issues with type loading from dynamic assemblies (I work with EF).
Maybe just filtering those assemblies out from type discovery  would solve the problem ?
(That would also avoid being tightly coupled to NHibernate)
What do you think ?

[2018-06-13 10:34] magicmoux opened #121 "Issues found in 0.24"
Hi @hazzik,

using more complex type hierarchies and overriden member/methods than proposed in the tests, I noted some issues.
In my tests I extended the animal hierarchy with Feline->Cat subclasses, overriding the Species property
and introducing an (also overridden) IsAdoptedBy method to the Animal class.

First, I noticed that the new TypeHierarchyComparer class implementation does not work pro

[2018-06-14 12:02] mycroes opened #122 "Only last simple assignment gets decompiled in `x => {x.Val1 = 1; x.Val2 = 2;}`"
This is somewhat of a followup to #117. Support for simple assignments was added to 0.24.0, unfortunately it only works for the last assignment. The following sample results in the decompiled expression `d => (d.Val2 = 2)`.

[code]

I would expect this to generate a `BlockExpression` with two assignments, not sure if that's anything already in DelegateDecompiler that supports this. Would be willin

[2018-06-20 21:45] magicmoux commented on #122
Hi @mycroes,

may I ask you what you want to achieve here, and what do you expect or need DelegateDecompiler for ?(not meaning to be offensive)

To get to the point, I just stumbled across DD to work around  third-parties' caveats (not naming EF)
and I think I've found some outstanding ground here  (all my POCs being verified, in my humble perspective, of course) because I needed to apply complex

[2018-06-20 21:53] hazzik commented on #122
@magicmoux the DD was also used in (i think now dead/dormant) [KnockoutMVC](https://github.com/AndreyAkinshin/knockout-mvc). It can be useful there. But I'm not sure if it does support assignments.

[2018-06-20 21:54] hazzik commented on #121
Thanks for reporting in. I'll check these.

[2018-06-20 22:07] mycroes commented on #122
I want to use DelegateDecompiler to decompile state update `Action`s. It's not related to database access in any way. To be more specific, I'd want to use it as part of our emulator infrastructure where PLC state is simulated.

[2018-06-20 23:22] magicmoux commented on #121
Ok merci.
Btw, I'd like to discuss some design possibilities about the current
library/project layout depending on your insights.

You can PM me directly at magicmoux[arobase]gmail[.]com

Le mer. 20 juin 2018 23:54, Alexander Zaytsev <notifications@github.com> a
écrit :

[2018-06-21 01:35] hazzik commented on #121
@magicmoux I've fixed (I think) ordering of the type hierarchies. I'll deal with other issues later.

[2018-06-21 01:51] #120 closed

[2018-06-21 01:52] hazzik commented on #120
Thanks @magicmoux. I've done exactly that. If that would not work, I'll probably will make a restriction that a type hierarchy should live in the same assembly.

[2018-06-22 11:44] magicmoux opened #126 "POC - DD modular architecture proposal"
Hi @hazzik,

the latest #125 PR is for architectural review.
Can you have a look at it and tell me what you think ?

Thx,
Max.

[2018-07-22 18:13] paulvanbladel opened #127 "Can the type of the computer property be an Interface?"
I have following use case.
An Order type which has a computed property "OrderStatus" of type IOrderStatus:
[code]
Now I want to query as follows:
[code]
When NOT using .Decompile I get the correct results but the query is done locally (that's why I'm using DelegateDecompiler :) )

but with .Decompile() I get as error: : 'Argument types do not match'

Any idea?

[2018-07-24 11:12] paulvanbladel opened #128 "Are interpollated strings supported?"
[code]

[2018-07-24 11:46] paulvanbladel opened #129 "Specifiying CultureInfo for a ToString."
Specifying a ToString(CultureInfo.InvariantCulture) seems not be accepted.
That's a pity since the default for ToString is CurrentCulture which make string operation very machine specific. So I always specify InvariantCulture for making things more robust.

BTW, this is a magic library ! Many thanks for sharing this.

[2018-07-25 13:30] magicmoux commented on #129
Can you please send a test snippet to check this ?

Thanks,
Max.

[2018-07-25 13:33] magicmoux commented on #127
Could you please provide a more complete code example for tests and potential fix ?

Thanks,
Max.

[2018-08-03 07:31] aplocher opened #130 "Anyway to make System.IO.Path.Combine work in a calculated property"
Hey just discovered this project and it looks great.  I was wondering if there's a way to make the following code work:

    db.Files.Where(x => x.FilePath == filePath)

FilePath is a calculated property that is simply:

    public string FilePath => Path.Combine(DirectoryPath, FileName);

`DirectoryPath` and `FileName` are coming from EF.  EF complains about the 'FilePath' property not translatin

[2018-08-03 10:32] jaenyph commented on #130
EF is telling you that it can not translate Combine to SQL. Just use the "+" concat operator and it should work.

Good luck.

From: Adam Plocher
Sent: Friday, August 3, 09:31
Subject: [hazzik/DelegateDecompiler] Anyway to make System.IO.Path.Combine work in a calculated property (#130)
To: hazzik/DelegateDecompiler
Cc: Subscribed

Hey just discovered this project and it looks great. I was wonderin

[2018-08-03 12:45] aplocher commented on #130
Ah that's the easy way... No fun... :) Thanks!

[2018-08-03 12:45] #130 closed

[2018-08-22 20:04] NetMastr5 opened #131 "Issue with Visual Studio 2018 Version 15.8"
I upgraded my Visual Studio 2017 from 15.7.6 to 15.8.1, and Delegate Decompiler (both 0.23 and 0.24) fails on some decompilations, such as decompiling an int? or decimal? to bool?, but continues to work in other situations, such as converting an int to a bool.

[code]

[2018-09-01 16:07] chambomusic commented on #131
@hazzik - I'm having the same issue

Here's my code - hopefully it helps:

This is the relevant code:
[code]

Error occurs when calling:
[code]

This is the code as generated from Visual Studio 2017 v.15.7.6 when decompiled from the DLL:

[code]

This is the code as generated from Visual Studio 2017 v.15.8.*  when decompiled from the DLL:

[code]

Same comments as @NetMastr5 - Code works fine if t

[2018-09-10 15:47] jak43324 commented on #131
I've experienced the same issue as well, I think the existing examples cover it pretty clearly but it's breaking our ability to build with the hosted Visual Studio 2017 build agent pool in VSTS.

We've moved everyone who is using these Delegate Decompiler back to the older VS 15.7 versions of Visual Studio for the time being and that seems to resolve the issue.

[2018-09-18 12:59] beechj commented on #131
All, FYI I have been playing with the unit tests in the DelegateDecompiler project and I have a workaround for this...

Basically any time you reference a nullable type explicity GetValueOrDefault will be added to avoid a null reference exception so in NetMastr5's example...

return ParentNullableInt.HasValue ? ParentNullableInt == 123 : (bool?)null;

becomes

IIF(this.ParentNullableInt.HasValue,

[2018-09-18 13:04] chambomusic commented on #131
@beechj - Thanks for the workaround explanation.  We figured this workaround out as well, but would prefer a solution that is more robust and doesn't require us to rework all of our computed properties and remember to do this every time.

I started looking into the code some, but have not made much progress tracking down where changes would be needed to address this issue at the source.  Can you p

[2018-09-18 13:20] beechj commented on #131
@chambomusic I was messing around with the nullable unit tests in:

DelegateDecompiler/src/DelegateDecompiler.EntityFramework.Tests/TestGroup05BasicFeatures/Test04Nullable.cs

From what I have seen when debugging, if you want a more robust solution then you will need to be replacing the members that access nullable types explicity in the body of the computed with something like....

(x.HasValue ?

[2018-09-18 13:29] chambomusic commented on #131
Thanks for the direction @beechj - I'll let you know if I make any progress.

[2018-09-22 15:37] webmindse commented on #90
Pretty sure linq to SQL doesnt support last() because theres no such SQL statement?

[2018-09-22 15:46] lindeberg commented on #90
Pretty sure Linq to SQL doesnt support last() because theres no such SQL query?

[2018-09-22 18:05] cervengoc commented on #90
@lindeberg You''re likely right, but not every LINQ expression will end up into an SQL query :) If I remember correctly this particularly was used in the context of a Javascript code-generator.

[2018-09-27 09:04] #126 closed

[2018-10-01 21:02] hazzik commented on #131
Hi all, sorry for the delay. I do not have access to a windows device at the moment. I have started fixing this, but do not have time to complete yet.

[2018-10-02 08:03] magicmoux commented on #131
As I commented on PR #133, DD is not directly responsible for this issue.
It does exactly what it's meant to do.
The real point is that the new 15.8 compiler now uses some methods that are not supported by your provider (ie EF6 in this case).

Beside DD unit tests which _can not_  check the compiler version (I could not find any mean get the info, anyway), the real issue lies within the provider's

[2018-10-05 10:58] magicmoux commented on #131
Hi guys,

this is a follow up from my tests to make @beechj's workaround and fix les specific and more user-friendly.

As both @beechj and I concluded, the only way to work around the new compiler is to replace unwanted/unsupported function calls using as much as possible c# language constructs which are _supposably_ supported by all providers (like the Elvis- or the Coalesce-operators).

So when

[2018-10-16 09:43] magicmoux commented on #131
Hi all,

this is a follow up of the experiments I made to solve the issue :

Good news :
I made a POC branch of the design I presented which code is available at [magicmoux:FIX-issue-131](https://github.com/hazzik/DelegateDecompiler/compare/develop...magicmoux:FIX-issue-131)

Bad news :
It won't be mergeable since it won't satisfy DD internal decompilation check tests.

Anyway as I waded through t

[2018-11-27 16:53] bradmarder opened #135 "Perplexing decompiled expression"
I don't quite understand what is going on with the following decompiled expression.

`this => IIF(this.HasBar, this.Posts.Any(x => True), (this.HasBaz AndAlso this.Posts.Any((x => True ?? x => True))))`

More specifically, this part is perplexing. `this.Posts.Any((x => True ?? x => True))`
I'm assuming it should only be `this.Posts.Any(x => True)`

When using that expression in conjunction with EF

[2018-12-03 19:05] IronSean opened #136 "DecompileAsync in EF 6.1.3 Silently locks MVC app"
I'm running into an issue with the DecompileAsync() on the DelegateDecompiler.EntityFramework package with EntityFramework 6.1.3. I haven't done a ton of investigation yet so this is mostly to see if others are seeing it or have immediate ideas.

The following synchronous code works:
[code]

But if I do it asynchronously this does not work:
[code]

In the async case my ASP.NET MVC app actually fre

[2018-12-09 14:39] edwardforgacs opened #137 "Unable to load one or more of the requested types. Retrieve the LoaderExceptions property for more information."
DelegateDecompiler was working in a project, now it's not, I suspect after some reference updates. Despite enormous effort in attempting to roll back the reference changes to isolate the issue, we have not been able to get DelegateDecompiler to work at all since.

As soon as the Decompile method is called, a ReflectionTypeLoadException is thrown. The LoaderExceptions show

"Could not load file or

[2018-12-09 15:42] edwardforgacs commented on #137
Upon further investigation it would seem that the behaviour of DelegateDecompiler to enumerate all types in the AppDomain causes an immediate exception when using the latest Roslyn compiler in ASP.NET (Microsoft.CodeDom.Providers.DotNetCompilerPlatform), it crashes on the

The following code demonstrates the problem, GetTypes will crash on Microsoft.CodeAnalysis.CSharp.Scripting.

Assembly[] assem

[2018-12-19 10:54] magicmoux commented on #121
Hi @hazzik,

Could you please check PR #138 please, ?
I think publishing a new nuget would help some.

Thanks in advance,
Max.

[2018-12-19 11:30] magicmoux commented on #137
Hi @edwardforgacs,

The fix for this bug has already already been included in the develop branch.
If, unfortunately, you rely on the nuget package, no new release has been made since 0.24.
Unless the maintainers plan to release a new version soon, I would advise to fork the project for your own use, if possible.

Best regards,
Max.

[2019-01-02 06:59] #131 closed

[2019-01-02 07:43] #137 closed

[2019-01-03 11:51] magicmoux opened #142 "String.Concat decompile issue"
Hi @hazzik,

I'm not sure wether it's an issue that should be addressed by DD but I noticed errors on EFCore tests :

[code]

It seems that non-string serialization is provider-related (the same TestSelectMultipleLevelsOfAbstractMembersOverTphHierarchy test works perfectly well with EF6).
After some tests, I could solve part of the problem but the solution won't work on nullables (either Nullable<

[2019-01-03 11:56] hazzik commented on #142
The expression tree looks correct for that test, so I believe the issue is in the EF itself.

[2019-01-03 12:03] magicmoux commented on #142
I totally agree with you, but 2 tests fail because of this.
Do you think we should address this issue directly or try to provide some workaround by forcing a ToString call on concatenation?

[2019-01-03 12:12] magicmoux commented on #142
I totally agree with you that the issue is in EFCore.
Maybe it would be advisable to state into the doc that serialization may be provider-specific and not addressed by DD thus should be handled specificly then.

[2019-01-03 12:39] #142 closed

[2019-01-03 21:14] hazzik commented on #128
Interpolation usually a syntactic sugar for `string.Format(...)`. The DelegateDecompiler correctly decompiles the expression, however the support of the expression would be solely dependant on the underlying linq provider for which expression tree is intended.

[2019-01-03 21:14] #128 closed

[2019-01-08 12:55] #121 closed

[2019-02-06 16:28] boosterch opened #144 "How to use DelegateDecompiler with EF6 and OData V4"
Hope you can help me with configuring the DelegateCompiler with EF6 and OData V4.
As I understand it is necessary to add Decompile at the end of the query.
I would like to add this to my ODataController, but then the Decompile is at the beginning.

[code]
Another solution is to override the EnableQueryAttribute and implement ApplyQuery.
However I do not see a way to call Decompile on the none gene

[2019-03-19 16:57] space-alien opened #145 "Incompatibility with Fody NullGuard"
When using [Fody NullGuard](https://github.com/Fody/NullGuard), the following projection fails:

[code]

With the error
[code]

[2019-04-30 13:52] gansmmm opened #146 "Computed - Null Propagation Operator decompiling problems in Visual Studio 2019"
Operator `??` in Computed property decompiled into `GetValueOrDefault()`.
If use EntityFramework this this behavior throw exception.

Code

[code]
Decompiled to
in VS 2017 Community version 15.9.11
[code]

in VS 2019 Community version 16.0.2
[code]

C# 7.3
.Net Framework 4.7.2

[2019-05-02 13:50] edwardforgacs commented on #146
Exact same issue here, thanks for the detailed description.

[2019-05-07 15:32] tl24 commented on #146
I was able to find a work around.  If you replace 0 with a variable the compiler can't replace it with GetValueOrDefault(). I'm guessing it can't be a const otherwise it might get optimized away.

    public class TEntity
    {
        public int? Int { get; set; }
        private static readonly int Zero = 0;
        [Computed]
        public int Computed => Int ?? Zero;
    }

[2019-05-07 19:36] tl24 commented on #146
I have a potential fix for this, do you take pull requests?  Any guidance on how to submit those?

I added this code to DelegateDecompiler.Processor.BuildMethodCall:

[code]
TestGroup15Aggregation.Test02Sum.TestSumCountInChildrenWhereChildrenCanBeNone was failing for me in VS 2019 before the added change.  It passed afterwards.

[2019-05-22 05:11] edwardforgacs commented on #146
I'm getting a lot of other test failures as a result of this change, does it seem to be working for everyone else?

[2019-05-27 12:45] bouskdav commented on #50
+1 from me - I have the same issue - have multiple tables that implement `IUniversalInvoice` interface with some properties. Then when I try to execute lambda `Expression<Func<IUniversalInvoice, bool>>` on `IQueryable<IUniversalInvoice>` that includes some properties from interface (e. g. `c => c.UIInvoiceNumber.Contains(q) || c.UISymbolVar.Contains(q)` ) it throws the same exception as above.

[2019-06-04 07:03] ronaldme commented on #146
@hazzik Could you please look into this issue / pull request? I can't work in VS2019 on some projects where I am using this library and more people seem to be having problems.

[2019-07-03 08:00] BrandoCaserotti opened #149 "Decompiled IQueryable produces unoptimized SQL in some cases"
The following Query:

`_context.Set<Fru>().AsNoTracking().Decompile().Select(fru => new { fru.Code, fru.AssociatedCants }).OrderBy(fru => fru.AssociatedCants).ToList();`

produces the following SQL which could be optimized:

[code]

The property fru.AssociatedCants is a computed property over a 1-N navigation property:

[code]

According to the execution plan produced by SQL Server Manager the que

[2019-07-03 08:06] zap93 commented on #149
The same happens if you filter against the computed property ( no alias for the column is used and the where clause is evaluated again):

`SELECT` TOP(10) [obj].[Code] AS [I0], (
    SELECT COUNT(*)
    FROM [FruCants] AS [f1]
    WHERE [obj].[Id] = [f1].[FruId]
) AS [I1], [obj].[Id] AS [I2]
FROM [Frus] AS [obj]
WHERE (
    SELECT COUNT(*)
    FROM [FruCants] AS [f]
    WHERE [obj].[Id] = [f].[Fru

[2019-07-05 08:33] magicmoux commented on #149
As far as I understand, the issue comes from DD in that the expression tree seems to reference the memberaccess as still belonging to the Fru class instead of to an anonymous type whose member AssociatedCants **should not be decompilable.**

As it is, I'm not sure whether the fix should be handled in Processor.cs or in ExpressionVisitor.cs
I'll try to look into that one if I go some free time but

[2019-07-05 09:31] magicmoux commented on #149
After a first simple check , it seems my first guess was wrong ; the issue does not come form DD core decompilation : Anonymous types' memberAccess seem to be preserved as expected.

So the issue could be specific to EF/EFCore optimization.
As it is your code does not seems to meet the warnings raised By Hazzik in the documentation

Could you please try running this code and tell us whether the re

[2019-07-09 15:52] zap93 commented on #149
Hi magicmoux,

the generated SQL is the following :
`SELECT [fru].[Code], (
    SELECT COUNT(*)
    FROM [FruCants] AS [f0]
    WHERE [fru].[Id] = [f0].[FruId]
) AS [AssociatedCants]
FROM [Frus] AS [fru]
ORDER BY (
    SELECT COUNT(*)
    FROM [FruCants] AS [f]
    WHERE [fru].[Id] = [f].[FruId]`

this is the DebugView of the decompiled IQueryable:

.Call Microsoft.EntityFrameworkCore.EntityFramew

[2019-07-09 20:59] magicmoux commented on #149
Hi @zap93

Here come the bad news : the issue comes from EF Core.
The following code seems to be translated into the same unoptimized query.

[code]

[2019-07-09 21:03] magicmoux commented on #149
Hi @zap93

Here come the bad news : the issue comes from EF Core.
The following code seems to be translated into the same unoptimized query.

[code]
My bad, I should have checked this first

[2019-07-10 07:31] zap93 commented on #149
Good to know that the issue is not from DD.
This library should become the standard for EF Core.

I will open a issue on EF Core github.

Thank you

[2019-07-11 14:09] magicmoux opened #150 "Evolutions ?"
Hi @hazzik ,

The project has stalled since January and some users are still waiting for updates/fixes.
Could you please check the open issues and handle pending PRs or allow other contributors to manage the project ?

Thx a lot in advance and for your work,
Max.

[2019-07-11 21:36] hazzik commented on #150
Sorry @magicmoux I don't currently have enough time to do that. I expect some improvements a little later. Hopefully it would work out. I'll try to review the PRs/issues on this weekend.

[2019-07-23 14:33] magicmoux commented on #150
Hi @hazzik, no problem.
To be a little bit nosey :P, may I ask what improvements you are working on ?

[2019-07-25 12:26] magicmoux commented on #150
Hi back @hazzik

Speaking of improvements, I'm still working on my side research-project; to give some more details, I'm trying to POC a dynamic MVVM system based on Razor views (meaning here a UI-first approach.) The main difficulty I'm encountering right now is to define the most adapted Linq projections requests to EF based on a view to build a runnable queryable (and hopefully optimized) objec

[2019-07-26 12:39] magicmoux commented on #122
Since I'm lately following the somewhat same track as you were last year, I had a look back on this issue.

@mycroes, I seem to have solved the problem based on your solution but I encountered the same stack issues as you did.
To work around this problem, I simply reverted the stack.Final method to the original implementation and handled _output_ expressions in a another List populated on Nop/Brea

[2019-07-31 12:56] magicmoux commented on #122
I tested further my solution and realized it won't perform normally expected decompilations in the inner block statements when there is no DecompileExpressionVisitor involved, since the required member accesses or calls are handled directly by the processor.

I also found out that there is yet no way to handle recursive calls during decompilation process.
So the following commit should address thi

[2019-08-01 15:47] magicmoux commented on #122
Seems that my first work on this work was biased as based on an instructions queue generated in debug mode : the release instructions is much different due to optimizations and other compiler artefacts. So I'm back to the starting line on this one.

However the handling of recursive calls is not bound to the processor and I think it could _(should?)_ be integrated.

[2019-08-07 14:28] magicmoux commented on #122
Since I'm lately following the somewhat same track as you were last year, I had a look back on this issue.

@mycroes, I seem to have lately solved the problem based on your proposal (had to start from scratch).
You can review my changes at :
https://github.com/magicmoux/DelegateDecompiler/commit/f5173f8330e1869cd9ca019bce5c8651798a4b83
please tell me if any of your tests goes awry. Currently it sa

[2019-08-07 18:01] mycroes commented on #122
Hi @magicmoux,

I'm a bit time-constrained at the moment, not sure when I'll be able to test. The case I've detailed in the issue is about as complicated as it gets for me, perhaps with nested paths to properties in worst case, so if that works it should be good enough for me. Thanks for your effort.

Regards,
Michael

[2019-08-07 19:13] magicmoux commented on #122
Hi Michael, no problem.

I had at last (since January) some free time to define my needs and to work
on this issue, so I totally understand.

I just hope the solution is fit.

Regards,
Max

Le mer. 7 août 2019 à 20:01, Michael Croes <notifications@github.com> a
écrit :

[2019-08-08 05:23] #146 closed

[2019-08-09 13:06] magicmoux commented on #122
In fact a proper and complete solution will require to dig into much OpCodes cases that were unhandled by @hazzik at first (and now I totally understand why, processor code is not  my forte !!! )

I'll try to submit progress as soon as stable for specific use-cases.
As for now, the solution should yet fullfill your tests' suite.
Feel free to submit more complex code you'd like to decompile (with t

[2019-08-23 15:59] edgarabrahamyanpayfactors commented on #144
Hi @boosterch do you have any progress?
This solution works for me when I have the following query
`$select=Id,FullName&$filter=contains(FullName,'Test')` Full name is computed property.
But as soon as I add $count=true I'm getting the following error
`"message": "Invalid column name 'FullName'.",`
It looks like `IQueryable ApplyQuery` doesn't being called for $count because I see SQL profiler tha

[2019-09-18 10:03] Aleksaas opened #152 "Bug when using DatabaseContext in Computed method"
I have a method like this:
[code]

Ignore the logic, its only for testing :) But when it is compiled query looks like this:

[code]

And this is query without delegate decompiler:

[code]

See how 's' is without '[]' in DD query, which leads to optimized query looks like:

[code]

And I get error:
`variable 's' of type 'ShiftPeriod' referenced from scope '', but it is not defined`

So I assume the

[2019-09-27 17:36] derigel23 opened #153 "Publish the latest version to nuget.org"
DelegateDecompiler.EntityFramework and DelegateDecompiler.EntityFrameworkCore packages.

[2019-09-27 17:40] derigel23 opened #154 "EF Core 3.0 compatibility"
System.TypeLoadException: Method 'ExecuteAsync' in type 'DelegateDecompiler.EntityFrameworkCore.AsyncDecompiledQueryProvider' from assembly 'DelegateDecompiler.EntityFrameworkCore, Version=1.0.0.0, Culture=neutral, PublicKeyToken=93b26a10a04705bd' does not have an implementation.

[2019-09-27 18:18] derigel23 commented on #153
More specific, DelegateDecompiler.EntityFramework  and DelegateDecompiler.EntityFrameworkCore packages.

[2019-09-28 23:20] hazzik commented on #154
It seems that this will require releasing a new nuget package. I'll take a look on the following week.

[2019-09-28 23:20] hazzik commented on #153
Thanks. I'll do.

[2019-09-29 16:52] derigel23 commented on #154
See PR#155

[2019-09-30 22:10] #154 closed

[2019-09-30 22:51] hazzik commented on #153
Publish forgotten 0.26.1 and also release 0.27.0

[2019-09-30 22:51] #153 closed

[2019-10-02 15:16] dmostert opened #157 "Please enable netstandard2.1 profile for DelegateDecompiler.EntityFramework"
As per the title.

I'm currently using a forked version to enable netstandard2.1

[2019-10-02 19:22] hazzik commented on #157
For what particular reason? It works fine as far as tests show.

[2019-10-03 08:09] dmostert commented on #157
I get the following warning when I use the official package:
`Warning	NU1701	Package 'DelegateDecompiler.EntityFramework 0.27.0' was restored using '.NETFramework,Version=v4.6.1, .NETFramework,Version=v4.6.2, .NETFramework,Version=v4.7, .NETFramework,Version=v4.7.1, .NETFramework,Version=v4.7.2, .NETFramework,Version=v4.8' instead of the project target framework '.NETCoreApp,Version=v3.0'. This pa

[2019-10-07 23:32] #157 closed

[2019-10-08 01:29] hazzik commented on #157
I had to update EF to 6.3 to make this work. Otherwise I was getting warnings.

[2020-02-12 16:25] benmccallum opened #159 "Eager load a computed property that's using a navigation property"
I'm not sure if this is even possible, but I'm basically have an entity `Booking` that has a 1:many with `BookingSupplierResponse` and I want to have a `[Computed]` field that plucks out one of these responses. I'm on EF6.

There's more real-world context in my [SO post](https://stackoverflow.com/questions/60191436/1many-and-11-given-composite-key-in-entity-framework-core-or-6).

[code]

Problem i

[2020-03-03 18:00] benmccallum commented on #159
Hey @hazzik, in some places another DB query here is fine, specifically where I'm just loading one Booking, but I've found myself needing to load multiple Booking records for a listing and now I'm kinda stuck here.

Have you had a chance to look at this? Or maybe @jbogard, have you run it a similar situation? I've tried with DelegateCompiler (computed prop on the entity itself) and with AutoMapper

[2020-03-04 20:28] NetMastr5 opened #160 "Decompiling computeds that take nullable enums fails"
When you call decompile when a nullable enum computed is part of the exrepssion tree an error is thrown.  The same calls work if the enum is not nullable.

[code]

[2020-03-04 20:36] hazzik commented on #159
@benmccallum best thing to try is to write a query as it should be decompiled and then test how EF behaves.

[2020-04-20 15:55] benmccallum commented on #159
Going to close this as I worked around it. An interesting scenario, but don't feel the need to take this any further at this stage. Cheers.

[2020-04-20 15:55] #159 closed

[2020-07-15 16:15] drielnox commented on #94
Is this corrected? I have the latest version and have problems with this in particular. Here's a sample of my code.

[code]

[code]

[code]

And throws this:

`System.InvalidOperationException: An expression of type 'System.Int32' cannot be used to initialize an array of type 'MovementStateEnum'`

[2020-07-30 13:36] SOHODeveloper opened #161 "Could not load type 'Microsoft.EntityFrameworkCore.Query.Internal.IAsyncQueryProvider' from assembly 'Microsoft.EntityFrameworkCore, Version=5.0.0.0, Culture=neutral, PublicKeyToken=adb9793829ddae60'."
I am running .net core 5.0 preview 7.

I have the following extension method
[code]
The ProjectTo() is from AutoMapper in the AutoMapper.QueryableExtensions namespace
As written the line b = a.DecompileAsync() causes the following exception.
[code]

If I change the DecompileAsync() to Decompile(), the next line throws and indicates that b is not an IAsyncEnumberable.

I will be perfectly honest, t

[2020-09-05 20:09] rioka opened #162 "Virtual navigation property throws exception after updating to v0.28.0"
I was about to do some changes in an old application, initially built in .NET 4.5.2, and using DelegateDecompiler v0.18.1.

This is a simple scenario to replicate the issue
- Two types (`Order` and `OrderLine`), 1-M relation between them
- Navigation property from parent to child was defined using [encapsulated collection](https://lostechies.com/jimmybogard/2014/05/09/missing-ef-feature-workaround

[2020-10-09 08:12] AradAral opened #163 "Stack overflow problem when methods call each other"
Hi there. Thank you for developing this elegant tool.

My scenario is fairly simple: I have 2 domain classes `Book` and `Author`, and 2 DTO classes `BookDto` and `AuthorDto` which are a subselection of those domain classes.

I have 2 extension methods for converting these domain classes into their respective DTOs:
1. One that converts a `Book` into a `BookDto`:
[code]

2. One that converts an `Aut

[2020-10-24 17:35] nphmuller commented on #161
This project doesn't support EF Core 5 yet. The namespace of IAsyncQueryProvider changed between EFCore 3.1 and EFCore 5. Since this project is still searching for it via the 3.1 namespace you get the error you mentioned, when running it with EFCore 5.

On a less sad note: a PR has been opened to add support for EFCore 5 (https://github.com/hazzik/DelegateDecompiler/pull/164). Once that gets merge

[2020-10-29 00:04] hazzik commented on #161
As per @nphmuller EF Core 5.0 is not yet supported.

[2020-10-29 00:04] #161 closed

[2020-10-29 00:26] hazzik commented on #163
@AradAral thanks for reporting. But how would you want to represent the resulting query?

[2020-10-29 13:09] AradAral commented on #163
@hazzik Nevermind, I finally ended up writing a custom expression visitor to take care of that, it calls the `MethodInfo.Decompile()` extension method internally and takes care of maintaining a max depth. I guess this might not be a concern for DelegateDecompiler.
Thanks again, this is an awesome library.

[2020-10-29 13:09] #163 closed

[2020-11-12 22:29] #162 closed

[2020-11-12 22:35] hazzik commented on #162
Fixed in 0.28.2

[2020-11-12 22:35] hazzik commented on #161
Please use `DelegateDecompiler.EntityFramework5` package.

[2020-11-15 11:16] rioka commented on #162
kudos
Thanks a lot

[2020-11-18 04:54] tb-mtg opened #165 "Auto Detect ShouldDecompile members"
Currently I have to manually add each computed member name to a custom configuration.

It would be nice if the ShouldDecompile method below could automatically determine which properties should be decompiled:

      public class CustomDelegateDecompilerConfiguration : Configuration {
        public static CustomDelegateDecompilerConfiguration Instance { get; } = new CustomDelegateDecompilerConfigu

[2020-11-26 15:02] AradAral opened #166 "ArgumentException for a simple method"
@hazzik Hey there! I believe I have discovered some sort of a bug.

I have this method, which I'm attempting to decompile:
[code]
when I call the `Decompile()` extension method for the above method, I get the following exception:

[code]

One thing I found out is that if I change the expression `comment.CourseId` to a literal value like `1`, the exception would no longer be thrown.

Let me know if

[2020-11-27 06:27] AradAral opened #167 "Decompiler does not remove transparent identifier expression on root level"
Hi again! I'm encountering another bug.
I'm trying to decompile this method:

[code]

But surprisingly DelegateDecompiler gives me this:
[code]

It's strange! Where is `new { comment = comment }` even coming from?!

[2020-12-22 16:21] billybraga opened #168 "Error decompiling unary operator Not for enum parameter"
Reproduced by adding this test in **src/DelegateDecompiler.Tests/EnumTests.cs**:

[code]
Gives the following exception:

[code]

Also happens with more complex expressions.

[2020-12-23 16:14] yaroslavbres opened #170 "DelegateDecompiler.EntityFrameworkCore .Net 5 support"
This is not an issue, it's rather a question/feature request

Currently, DelegateDecompiler.EntityFrameworkCore (v0.28.2) has dependeny to Microsoft.EntityFrameworkCore (>= 2.0.0 && < 4.0.0).  It makes impossible to use it with latest Microsoft.EntityFrameworkCore 5.0.1.

Are you planning to bump Microsoft.EntityFrameworkCore version in the dependencies?

[2020-12-23 20:44] yaroslavbres commented on #170
After some investigations, I found DelegateDecompiler.EntityFrameworkCore5 lib.

[2020-12-23 20:44] #170 closed

[2021-01-09 03:14] #168 closed

[2021-01-09 03:42] hazzik commented on #167
It is from the closure. Need a visitor to unwrap such closures.

[2021-02-02 18:19] mbrookson opened #171 "NullReferenceException only dotcover test coverage runner"
I am currently faced with a very confusing issue. I have some unit tests which utilise an implementation of `IAsyncEnumerable` and `IAsyncQueryProvider` to enable testing of `EntityFrameworkCore` async extensions. I've implemented DelegateDecompiler and am seeing weird issues where some of my unit tests are failing only when running code coverage with `dotnet dotcover test` (https://www.jetbrains.

[2021-02-03 20:26] #167 closed

[2021-02-03 22:28] mbrookson commented on #171
Further investigation seems to show that, when running in normal debug unit test mode, I can put a breakpoint on `Processor:268` which appears in the above stack trace and it __does not__ get hit and the test passes.

However, when running with the `dotCover` code coverage tool that causes the test to fail, it __does__ seem to run that line of code because it's in the stacktrace (can't use breakpo

[2021-02-03 22:54] #166 closed

[2021-02-03 22:55] hazzik commented on #171
Can you provide a test case which is failing?

[2021-02-03 23:00] hazzik commented on #171
My suspicion is that dotcover changes IL which is not recognized by decompiler

[2021-02-03 23:00] mbrookson commented on #171
Managed to get some further information out by adding a call to `Debug.WriteLine` at `Processor:268` as seen below. I also noticed DelegateDecompiler already logs the `state.Instruction` to the debug console.

[code]

Running dotCover outputs the following which I think may explain the issue I'm seeing.
It logs an `Instruction` of ` JetBrains.Profiler.Core.Instrumentation.DataOnStack` and it seems

[2021-02-03 23:01] mbrookson commented on #171
Wonder if there is a way to detect running within dotcover and exclude certain dotcover statements from being processed?

[2021-02-04 01:56] #171 closed

[2021-02-04 03:14] hazzik commented on #171
Should be fixed in 0.29.0

[2021-02-04 03:14] hazzik commented on #167
Should be fixed in 0.29.0

[2021-02-04 03:14] hazzik commented on #166
Should be fixed in 0.29.0

[2021-02-04 10:44] mbrookson commented on #171
@hazzik I'm afraid to say that it is not quite fixed 😞I'm seeing a different error based on the changes in 0.29.0 as follows

[code]

[2021-02-04 10:55] hazzik opened #172 "ArgumentException Type must not be ByRef under dotcover"
@hazzik I'm afraid to say that it is not quite fixed 😞I'm seeing a different error based on the changes in 0.29.0 as follows

[code]

_Originally posted by @mbrookson in https://github.com/hazzik/DelegateDecompiler/issues/171#issuecomment-773212124_

[2021-02-04 10:56] hazzik commented on #172
@mbrookson can you show the debug trace?

[2021-02-04 10:57] hazzik commented on #171
I've created #172 to track it.

[2021-02-04 11:19] mbrookson commented on #172
[code]

@hazzik Here's what gets logged by default. Let me know if you require more info. Thanks.

[2021-02-04 11:44] mbrookson commented on #172
Happy to test stuff in a separate branch if that helps to diagnose and fix the issue.

[2021-02-04 11:49] hazzik commented on #172
It's 0:47 here. I would test it tomorrow my time. I think the problem within `AdjustType`. It should not try to adjust type into ref-type (Type.IsRefType).

[2021-02-04 11:51] mbrookson commented on #172
No problem. I will do some more investigation and try some things. Thanks!

[2021-02-04 12:06] hazzik commented on #172
Ok I've managed to fix this issue. Can you please test this [branch](https://github.com/hazzik/DelegateDecompiler/tree/gh172)?

[2021-02-04 13:54] mbrookson commented on #172
Apologies. I didn't see you'd already implemented a fix. Your solution in this [branch](https://github.com/hazzik/DelegateDecompiler/tree/gh172) also works and is definitely better than mine.

Appreciate you spending time on this. Thank you for resolving it! Please update in Nuget when you get a chance.

[2021-02-04 20:31] #172 closed

[2021-02-04 23:43] hazzik commented on #172
Released in 0.29.1

[2021-02-04 23:44] mbrookson commented on #172
@hazzik Thank you!

[2021-02-05 00:35] hazzik commented on #108
After fixing #171/#172 it does not throw NullReferenceException. However, the produced expression is not correct.

[2021-02-05 01:23] #108 closed

[2021-02-05 02:24] hazzik opened #176 "InvalidOperationException on array of enums"
Is this corrected? I have the latest version and have problems with this in particular. Here's a sample of my code.

[code]

[code]

[code]

And throws this:

`System.InvalidOperationException: An expression of type 'System.Int32' cannot be used to initialize an array of type 'MovementStateEnum'`

_Originally posted by @drielnox in https://github.com/hazzik/DelegateDecompiler/issues/94#issuecommen

[2021-02-05 02:56] #176 closed

[2021-02-06 10:03] #160 closed

[2021-05-05 18:08] BrettBock commented on #15
Still seeing this issue in Visual Studio 2019 Enterprise 16.9.4

[2021-05-21 13:36] RichardSinden opened #177 "No implementation of Decompile extension method for non-generic IQueryable"
The DecompiledQueryProvider has a non-generic implementation of [CreateQuery](https://github.com/hazzik/DelegateDecompiler/blob/a2ab2cba4daf4a509bf6a41481d3ab0fab8b36ed/src/DelegateDecompiler/DecompiledQueryProvider.cs#L23). However, the DecompileExtensions don't have an implemention of Decompile which calls it, only a generic [Decompile](https://github.com/hazzik/DelegateDecompiler/blob/a2ab2cba4

[2021-05-27 06:52] cervengoc commented on #152
Hi @hazzik, @magicmoux ,

We've just ran into the same issue, and I've added a failing test for it. Could you please have a look at my branch?

Br, Zoltán

[2021-05-27 09:35] magicmoux commented on #152
Hi @cervengoc ,

As I suspected the problem is that DD currently handles System.Linq.Expressions.Expression._xxx_ methods verbatim, which finally confuses the ELinq translator.

At the time I proposed #151 to handle these calls.
I just upgraded it to include the latest changes from hazzik/develop (as a hot-fix) and updated your tests for POC.

[2021-07-03 05:50] #177 closed

[2021-12-02 21:39] DennisInSky opened #179 "Abstract property in hierachy with intermediate generic classes decompiled as default"
For the case like below
[code]
the `Base.Value` property gets decompiled as `null`

The below change fixes it:
[code]

[2021-12-14 09:12] #179 closed

[2021-12-14 09:30] hazzik commented on #108
Released in 0.30.0

[2021-12-14 09:30] hazzik commented on #176
Released in 0.30.0

[2021-12-14 09:30] hazzik commented on #160
Released in 0.30.0

[2021-12-25 12:03] HenriqueEichstadt opened #181 "EntityFramework Core 6 (.NET6)"
Is the package made for EntityFramework Core 5 compatible with version 6 of EntityFramework Core?

[2021-12-25 20:00] hazzik commented on #181
Yes, it is.

[2021-12-25 20:00] #181 closed

[2021-12-28 18:15] HenriqueEichstadt opened #182 "Exception using SelectMany"
When using SelectMany in a function marked with the Computed attribute, the following exception occurs. Does DelegateDecompiler.EntityFrameworkCore5 support SelectMany? I upgraded from EntityFramework 6 to EntityFrameworkCore 6 and this error appeared.

Function marked with the Computed attribute:
![image](https://user-images.githubusercontent.com/40867600/147594997-8814bf74-7fa2-49a8-bd89-404a756

[2022-03-07 14:57] NetMastr5 opened #183 "No coercion operator is defined between types 'System.Int32' and 'System.Nullable`1[System.Boolean]'. - regression between 0.29.1 and 0.30.0"
Upgraded from 0.29.1 to 0.30.0 and now receive this error

No coercion operator is defined between types 'System.Int32' and 'System.Nullable`1[System.Boolean]'.

[InvalidOperationException: No coercion operator is defined between types 'System.Int32' and 'System.Nullable`1[System.Boolean]'.]
   System.Linq.Expressions.Expression.GetUserDefinedCoercionOrThrow(ExpressionType coercionType, Expression

[2022-04-14 16:42] GravlLift commented on #15
I'm encountering this as well in 0.30.0. `dotnet test` works just fine, as does `dotnet test "--collect:XPlat Code Coverage"`. But `dotnet test "--collect:Code Coverage"` is problematic.

Stepped into it with the debugger. The `instructions` generated below are radically different depending on if `--collect:Code Coverage` is specified or not:
https://github.com/hazzik/DelegateDecompiler/blob/6a204

[2022-04-20 18:30] GravlLift commented on #15
Totally unrelated to DelegateDecompiler, but for anyone else who stumbles onto this thread my particular issues were solved by replacing any calls to `DateTime.Now` with a clock interface and controlling time in my tests.

[2022-06-30 00:51] GravlLift commented on #15
@hazzik, I've managed to put together [a minimal reproduction](https://github.com/GravlLift/DelegateDecompilerComponent) for this one. It's very strange.

[2022-09-09 10:12] bzbetty opened #184 "Automatically decompile using a IDbContextOptionsExtension like LinqKit does?"
Linqkit lets you register an EF extension so that they don't need the manual Decompile() like call for each query. I think something like that would be theoretically possible with Delegate Decompiler too?

[code]

reference: https://github.com/scottksmith95/LINQKit/blob/master/src/LinqKit.Microsoft.EntityFrameworkCore/ExpandableDbContextOptionsExtension.cs

[2022-09-22 09:55] #150 closed

[2022-10-11 10:15] #122 closed

[2022-10-12 13:17] magicmoux opened #193 "Unit test failure"
@hazzik Alex,

In the latest tests you added in PR #190, this one fails :
C:\projects\delegatedecompiler\src\DelegateDecompiler.Tests\NestedExpressionsTests.cs:line 18

Here's the stacktrace

[code]

[2022-10-12 23:49] hazzik commented on #193
That is strange, because it does not fail for me... I'll check.

[2022-10-12 23:51] hazzik commented on #193
@magicmoux what SDKs/runtimes do you have?

[2022-10-13 00:57] hazzik commented on #193
nvm. Found it.

[2022-10-13 00:58] #193 closed

[2022-10-13 04:31] hazzik commented on #100
Ok, not really interested of doing so. I'll try to publish releases on github though.

[2022-10-13 04:31] #100 closed

[2022-10-13 04:53] hazzik commented on #90
Could not reproduce. See #196

[2022-10-13 04:55] hazzik commented on #89
I think this is out of scope of DD.

[2022-10-13 04:55] #89 closed

[2022-10-13 04:57] #90 closed

[2022-10-13 05:02] hazzik commented on #129
Sorry, but I'm not sure what you're trying to report here. Please provide some examples.

[2022-10-13 05:02] #129 closed

[2022-10-13 05:13] hazzik commented on #152
This should be fixed by #192

[2022-10-13 05:13] #152 closed

[2022-10-14 20:14] cmeyertons opened #199 "Bug: Cannot Decompile IQueryable<T> after using constrained generic when TInterface has multiple implementations"
It seems like there is a bug when there is an interface property involved -- when there are multiple implementations of the interface, the decompiler generates a ternary of each available implementation type.

However, in the initial decompile, we have a IQueryable<T> (not TInterface), so we shouldn't have to do any kind of ternary logic at all.

Please see https://github.com/hazzik/DelegateDecomp

[2022-10-16 22:45] hazzik commented on #199
That is interesting. There is a similar test to one you've submitted:

https://github.com/hazzik/DelegateDecompiler/blob/bf1fffc907a8e346852580107547aaaf4dc5eb4c/src/DelegateDecompiler.EntityFramework.Tests/TestGroup50Types/Test01Strings.cs#L73-L93

Only difference is in `where T` definition. One we have with `class`, the submitted is without `class`. Adding `class` to your test fixes it. And remo

[2022-10-16 23:09] cmeyertons commented on #199
The class constraint fixing it is quite bizarre! Your solution is more elegant than mine - I just wasn’t sure I could apply it as globally as you did and tried to leverage the knowledge of the caller.

Looks great to me. What is the turnaround time on getting a fix published? On Monday, we will test adding the class constraint as a workaround.

[2022-10-16 23:12] hazzik commented on #199
I was going to review one other PR, and then wanted to publish a new version. It is already past my deadline as I was going to do that on the past weekend (it's Monday here already).

[2022-10-16 23:15] #199 closed

[2022-10-16 23:18] hazzik commented on #199
When there is an upcasting (cast to a parent type) - it should be safe to remove. I was worried about explicit interfaces, but tested them locally - works as expected.

[2022-10-16 23:23] cmeyertons commented on #199
Sounds great! Thank you very much for the quick resolution on this one!

[2022-10-17 02:04] #183 closed

[2022-10-17 02:09] hazzik commented on #149
Closing as external issue.

[2022-10-17 02:09] #149 closed

[2022-10-17 02:12] hazzik commented on #145
/insert jiggle-jiggle meme.

Sorry, it was a long time, but could you please post here what resulting assembly after NullGuard? You can view it with il-spy.

[2022-10-17 04:11] hazzik commented on #122
This has been released in [`0.31.0`](https://github.com/hazzik/DelegateDecompiler/releases/tag/0.31.0). Please consider [❤️ supporting ](https://github.com/sponsors/hazzik) the project.

[2022-10-17 04:13] hazzik commented on #183
This has been released in [`0.31.0`](https://github.com/hazzik/DelegateDecompiler/releases/tag/0.31.0). Please consider [❤️ supporting ](https://github.com/sponsors/hazzik) the project.

[2022-10-17 04:19] hazzik commented on #184
Thanks for suggestion. I'll think about this. Meanwhile. Pull request are welcomed.

[2022-10-20 04:55] hazzik commented on #127
Duplicate of #107

[2022-10-20 04:55] #127 closed

[2022-10-20 05:09] #107 closed

[2022-10-20 21:07] hazzik commented on #101
I think this is outside of scope for DD. So closing.

[2022-10-20 21:07] #101 closed

[2022-10-20 21:22] hazzik commented on #102
Sorry, I cannot reproduce it. Maybe it was fixed at some point earlier.

[2022-10-20 21:22] #102 closed

[2022-10-26 03:24] hazzik commented on #184
I've done some preliminary work. Unfortunately a new package for EF Core 6 would be required as there are some incompatible changes that I cannot make compatible between both EF Core 5 and EF Core 6.